workflows/HR Processing Worker - Multi Provider Test.json
{
  "name": "HR Processing Worker - Multi Provider Test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2960,
        304
      ],
      "id": "a7544ae2-f547-4e0e-80a8-e0583c79bf19",
      "name": "Schedule Trigger: process pending inputs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH picked AS (\n    SELECT id\n    FROM candidate_inputs\n    WHERE processing_status = 'prepared'\n    ORDER BY created_at ASC\n    LIMIT 1\n    FOR UPDATE SKIP LOCKED\n),\nupdated AS (\n    UPDATE candidate_inputs ci\n    SET processing_status = 'processing'\n    FROM picked\n    WHERE ci.id = picked.id\n    RETURNING\n        ci.id AS candidate_input_id,\n        ci.intake_event_id,\n        ci.execution_id,\n        ci.source,\n        ci.input_type,\n        ci.original_text,\n        ci.normalized_text,\n        ci.processing_status\n),\nlogged AS (\n    SELECT log_processing_event(\n        updated.execution_id,\n        updated.intake_event_id,\n        'processing_started',\n        updated.processing_status,\n        'Candidate input claimed by Processing Worker',\n        NULL,\n        1\n    )\n    FROM updated\n)\nSELECT\n    u.*,\n    ie.telegram_chat_id AS chat_id,\n    ie.telegram_user_id AS user_id\nFROM updated u\nCROSS JOIN logged\nLEFT JOIN intake_events ie\n    ON ie.id = u.intake_event_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2784,
        304
      ],
      "id": "d754939e-5227-4d9a-94f3-a355ac765572",
      "name": "PG: claim pending candidate_inputs",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0dab2d6-b2da-4bf7-9d57-d01e72a6f934",
              "leftValue": "={{ Boolean($json.candidate_input_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2608,
        304
      ],
      "id": "6a9bc6f0-06fd-413f-858f-694dc3c8126c",
      "name": "IF: has pending input?"
    },
    {
      "parameters": {
        "jsCode": "const text = String(\n  $json.normalized_text ||\n  $json.original_text ||\n  $json.text ||\n  ''\n);\n\n// Get LLM provider configuration\nconst llmConfig =\n  $('Configure LLM Provider').first().json.llm_config || {\n    llm_provider: 'openai',\n    llm_url: 'https://api.openai.com/v1/chat/completions',\n    llm_model: 'gpt-4o-mini',\n    llm_supports_structured_output: true\n  };\n\n// Define JSON schema for structured output\nconst candidateSchema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    full_name: { type: ['string', 'null'] },\n    city: { type: ['string', 'null'] },\n    desired_position: { type: ['string', 'null'] },\n    experience_years: { type: ['number', 'null'] },\n    skills: { type: 'array', items: { type: 'string' } },\n    salary_expectation: { type: ['number', 'null'] },\n    email: { type: ['string', 'null'] },\n    phone: { type: ['string', 'null'] },\n    summary: { type: ['string', 'null'] }\n  },\n  required: [\n    'full_name',\n    'city',\n    'desired_position',\n    'experience_years',\n    'skills',\n    'salary_expectation',\n    'email',\n    'phone',\n    'summary'\n  ]\n};\n\n// Build request body\nconst openai_body = {\n  model: llmConfig.llm_model,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: 'Ты — HR-ассистент для извлечения структурированных данных из резюме. Извлекай только явно присутствующие данные. Не выдумывай отсутствующие сведения.'\n    },\n    {\n      role: 'user',\n      content: 'Извлеки данные кандидата из текста резюме:\\n\\n' + text\n    }\n  ]\n};\n\n// Add response_format only if provider supports it\nif (llmConfig.llm_supports_structured_output) {\n  openai_body.response_format = {\n    type: 'json_schema',\n    json_schema: {\n      name: 'candidate_profile',\n      strict: true,\n      schema: candidateSchema\n    }\n  };\n}\n\nreturn [{\n  json: {\n    ...$json,\n    llm_config: llmConfig,\n    openai_body: openai_body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        304
      ],
      "id": "9cf3385c-07bf-4db8-8763-653bed7923d7",
      "name": "Prepare OpenAI Body: Extract candidate JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm_config.llm_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1648,
        304
      ],
      "id": "a81b9d75-913d-4e23-acb3-35760c40c8a0",
      "name": "LLM: Extract candidate JSON (OpenAI)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw) {\n  if (!raw || typeof raw !== 'string') {\n    return null;\n  }\n\n  try {\n    return JSON.parse(raw);\n  } catch (e) {\n    return null;\n  }\n}\n\nconst ctx = $('Prepare OpenAI Body: Extract candidate JSON').first().json;\nconst raw = extractRaw($json);\nconst candidate = parseJson(raw);\n\nconst requiredFields = [\n  'full_name',\n  'city',\n  'desired_position',\n  'experience_years',\n  'skills',\n  'salary_expectation',\n  'email',\n  'phone',\n  'summary'\n];\n\nconst hasObject = candidate && typeof candidate === 'object' && !Array.isArray(candidate);\n\nconst hasAllFields = hasObject && requiredFields.every(field =>\n  Object.prototype.hasOwnProperty.call(candidate, field)\n);\n\nconst validTypes =\n  hasObject &&\n  Array.isArray(candidate.skills) &&\n  (candidate.experience_years === null || typeof candidate.experience_years === 'number') &&\n  (candidate.salary_expectation === null || typeof candidate.salary_expectation === 'number');\n\nconst isValid = Boolean(hasObject && hasAllFields && validTypes);\n\nreturn [\n  {\n    json: {\n      ...ctx,\n      llm_provider: ctx.llm_config?.llm_provider || 'openai',\n      llm_raw_candidate_response: raw,\n      candidate: isValid ? candidate : null,\n      candidate_json_valid: isValid,\n      candidate_json_error: isValid ? null : 'Invalid candidate JSON structure'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        304
      ],
      "id": "b29fc55c-1bf0-499d-9881-77acfa024e5d",
      "name": "Parse OpenAI Candidate JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d8231a4-dbff-4727-8a39-d7b47b2be1f2",
              "leftValue": "={{ $json.candidate_json_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        304
      ],
      "id": "0cb1b73a-8de2-4b2f-8705-9695100f65a0",
      "name": "IF: candidate JSON valid?"
    },
    {
      "parameters": {
        "jsCode": "const resumeText = String(\n  $json.normalized_text ||\n  $json.original_text ||\n  $json.text ||\n  ''\n);\n\nconst rawBadResponse = String($json.llm_raw_candidate_response || '');\n\n// Get LLM provider configuration\nconst llmConfig =\n  $('Configure LLM Provider').first().json.llm_config || {\n    llm_provider: 'openai',\n    llm_url: 'https://api.openai.com/v1/chat/completions',\n    llm_model: 'gpt-4o-mini',\n    llm_supports_structured_output: true\n  };\n\n// Define JSON schema\nconst repairSchema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    full_name: { type: ['string', 'null'] },\n    city: { type: ['string', 'null'] },\n    desired_position: { type: ['string', 'null'] },\n    experience_years: { type: ['number', 'null'] },\n    skills: { type: 'array', items: { type: 'string' } },\n    salary_expectation: { type: ['number', 'null'] },\n    email: { type: ['string', 'null'] },\n    phone: { type: ['string', 'null'] },\n    summary: { type: ['string', 'null'] }\n  },\n  required: [\n    'full_name',\n    'city',\n    'desired_position',\n    'experience_years',\n    'skills',\n    'salary_expectation',\n    'email',\n    'phone',\n    'summary'\n  ]\n};\n\n// Build request body\nconst openai_body = {\n  model: llmConfig.llm_model,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: 'Ты исправляешь JSON-ответ HR-ассистента. Нельзя добавлять данные, которых нет в исходном резюме.'\n    },\n    {\n      role: 'user',\n      content:\n        'Исходный текст резюме:\\n' +\n        resumeText +\n        '\\n\\nНекорректный ответ модели:\\n' +\n        rawBadResponse +\n        '\\n\\nИсправь ответ по строгой JSON-схеме.'\n    }\n  ]\n};\n\n// Add response_format only if provider supports it\nif (llmConfig.llm_supports_structured_output) {\n  openai_body.response_format = {\n    type: 'json_schema',\n    json_schema: {\n      name: 'candidate_profile_repair',\n      strict: true,\n      schema: repairSchema\n    }\n  };\n}\n\nreturn [{\n  json: {\n    ...$json,\n    llm_config: llmConfig,\n    openai_body: openai_body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        432
      ],
      "id": "b4aba33e-e88e-47e2-ab9a-0779c0988c41",
      "name": "Prepare OpenAI Body: Repair candidate JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm_config.llm_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        432
      ],
      "id": "5ea13f40-7157-4aec-b9b6-7a2ba6aa8e1c",
      "name": "LLM: Repair candidate JSON (OpenAI)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content\n    || itemJson.message?.content\n    || itemJson.text\n    || itemJson.output\n    || '';\n}\n\nfunction parseJson(raw) {\n  if (!raw || typeof raw !== 'string') {\n    return null;\n  }\n\n  let cleaned = raw.trim();\n\n  cleaned = cleaned\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return null;\n    }\n  }\n}\n\nconst ctx = $('Parse OpenAI Candidate JSON').first().json;\n\nconst raw = extractRaw($json);\nconst candidate = parseJson(raw);\n\nconst requiredFields = [\n  'full_name',\n  'city',\n  'desired_position',\n  'experience_years',\n  'skills',\n  'salary_expectation',\n  'email',\n  'phone',\n  'summary'\n];\n\nconst hasObject =\n  candidate &&\n  typeof candidate === 'object' &&\n  !Array.isArray(candidate);\n\nconst hasAllFields =\n  hasObject &&\n  requiredFields.every(field =>\n    Object.prototype.hasOwnProperty.call(candidate, field)\n  );\n\nconst validTypes =\n  hasObject &&\n  (candidate.skills === null || Array.isArray(candidate.skills)) &&\n  (candidate.experience_years === null || typeof candidate.experience_years === 'number') &&\n  (candidate.salary_expectation === null || typeof candidate.salary_expectation === 'number');\n\nconst isValid = Boolean(hasObject && hasAllFields && validTypes);\n\nreturn [\n  {\n    json: {\n      ...ctx,\n      llm_provider: ctx.llm_config?.llm_provider || 'openai',\n      llm_raw_candidate_repair_response: raw,\n      candidate: isValid ? candidate : null,\n      candidate_json_valid: isValid,\n      candidate_json_error: isValid\n        ? null\n        : 'Invalid candidate JSON after repair'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        432
      ],
      "id": "bd9fd5d7-c218-4b58-8421-232577c8d66f",
      "name": "Parse OpenAI Repair Candidate JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d8231a4-dbff-4727-8a39-d7b47b2be1f2",
              "leftValue": "={{ $json.candidate_json_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        432
      ],
      "id": "5ef1d403-e548-41b6-be6c-ced7ce020f62",
      "name": "IF: repaired JSON valid?"
    },
    {
      "parameters": {
        "jsCode": "const c = $json.candidate || {};\n\nconst hasName = Boolean(c.full_name && c.full_name.trim());\nconst hasPosition = Boolean(c.desired_position && c.desired_position.trim());\nconst hasContacts = Boolean(\n  (c.email && c.email.trim()) ||\n  (c.phone && c.phone.trim())\n);\nconst hasSkills = Array.isArray(c.skills) && c.skills.length >= 2;\n\nconst isMeaningful =\n  hasName ||\n  hasPosition ||\n  hasContacts ||\n  hasSkills;\n\nreturn [{\n  json: {\n    ...$json,\n    candidate_meaningful: isMeaningful\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        192
      ],
      "id": "6d3ebd82-671f-47e4-8b35-2049452fa52f",
      "name": "Validate candidate content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "198f1305-a108-4e51-a8e4-d9a0141aa95b",
              "leftValue": "={{ $json.candidate_meaningful === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        192
      ],
      "id": "f884cc38-46d7-44e1-9dcc-9ceb30db59b2",
      "name": "IF: candidate meaningful?"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    error_stage: 'processing',\n    error_type: 'invalid_resume',\n    error_message: 'Extracted candidate profile is not meaningful',\n    error_recoverable: true,\n    response_channel: 'telegram',\n    response_recipient: $json.chat_id ? String($json.chat_id) : null,\n    response_message_type: 'invalid_input',\n    response_subject: null,\n    response_body:\n`⚠️ Не удалось распознать резюме\n\nПохоже, в сообщении недостаточно данных.\n\nПопробуйте отправить:\n• текст резюме\n• PDF/DOCX\n• более чёткое фото\n• голосовое сообщение с ФИО, опытом и навыками`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "b310d8e5-2c25-4679-91de-78570c848fb5",
      "name": "Build TG invalid resume response"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    error_stage: 'processing',\n    error_type: 'candidate_json_error',\n    error_message: $json.candidate_json_error || 'Candidate JSON parsing failed',\n    error_recoverable: true,\n    response_channel: 'telegram',\n    response_recipient: $json.chat_id ? String($json.chat_id) : null,\n    response_message_type: 'error',\n    response_subject: null,\n    response_body:\n`⚠️ Не удалось корректно разобрать данные резюме\n\nПожалуйста, попробуйте отправить резюме ещё раз или используйте другой формат: текст, PDF/DOCX, фото или голос.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        560
      ],
      "id": "3b2b74af-b7e0-4970-9802-a929f57f9158",
      "name": "Build TG error response"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nconst candidate = ctx.candidate || {};\n\nconst email = (candidate.email || '').toLowerCase().trim();\n\nlet phone = (candidate.phone || '').trim();\nphone = phone.replace(/[^\\d+]/g, '');\n\nif (phone.startsWith('8') && phone.length === 11) {\n  phone = '+7' + phone.slice(1);\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    candidate: {\n      ...candidate,\n      email_normalized: email || null,\n      phone_normalized: phone || null\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        224
      ],
      "id": "da7d8f30-9acc-4a8e-9bf2-ada139b7a757",
      "name": "Normalize candidate contacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH matches AS (\n    SELECT\n        c.id AS candidate_id,\n        c.full_name,\n        c.desired_position,\n        cc.contact_type,\n        cc.normalized_value\n    FROM candidates c\n    JOIN candidate_contacts cc\n        ON cc.candidate_id = c.id\n    WHERE\n        (\n            '{{ $json.candidate.email_normalized || \"\" }}' <> ''\n            AND cc.contact_type = 'email'\n            AND cc.normalized_value = '{{ $json.candidate.email_normalized || \"\" }}'\n        )\n        OR\n        (\n            '{{ $json.candidate.phone_normalized || \"\" }}' <> ''\n            AND cc.contact_type = 'phone'\n            AND cc.normalized_value = '{{ $json.candidate.phone_normalized || \"\" }}'\n        )\n),\ngrouped AS (\n    SELECT\n        candidate_id,\n        MAX(full_name) AS full_name,\n        MAX(desired_position) AS desired_position,\n        BOOL_OR(contact_type = 'email') AS email_match,\n        BOOL_OR(contact_type = 'phone') AS phone_match,\n        COUNT(*) AS matched_contacts\n    FROM matches\n    GROUP BY candidate_id\n),\nsummary AS (\n    SELECT\n        COUNT(*) AS matched_candidates_count,\n\n        (ARRAY_AGG(candidate_id) FILTER (WHERE email_match AND phone_match))[1] AS exact_candidate_id,\n        (ARRAY_AGG(candidate_id) FILTER (WHERE email_match))[1] AS email_candidate_id,\n        (ARRAY_AGG(candidate_id) FILTER (WHERE phone_match))[1] AS phone_candidate_id\n    FROM grouped\n)\nSELECT\n    CASE\n        WHEN matched_candidates_count = 0 THEN NULL\n        WHEN exact_candidate_id IS NOT NULL THEN exact_candidate_id\n        WHEN matched_candidates_count = 1 THEN COALESCE(email_candidate_id, phone_candidate_id)\n        ELSE NULL\n    END AS candidate_id,\n\n    CASE\n        WHEN matched_candidates_count = 0 THEN 'not_found'\n        WHEN exact_candidate_id IS NOT NULL THEN 'exact_duplicate'\n        WHEN matched_candidates_count = 1 THEN 'probable_duplicate'\n        ELSE 'contact_conflict'\n    END AS dedup_result,\n\n    matched_candidates_count,\n    email_candidate_id,\n    phone_candidate_id\nFROM summary;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        224
      ],
      "id": "cd8e6064-9c8d-4592-b6af-dbaec9c85add",
      "name": "PG: find existing candidate",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Normalize candidate contacts').first().json;\n\nconst dedupResult = $json.dedup_result || 'not_found';\nconst existingCandidateId = $json.candidate_id || null;\n\nreturn [{\n  json: {\n    ...ctx,\n    existing_candidate_id: existingCandidateId,\n    is_duplicate_candidate: Boolean(existingCandidateId),\n    dedup_result: dedupResult,\n    matched_candidates_count: Number($json.matched_candidates_count || 0),\n    email_candidate_id: $json.email_candidate_id || null,\n    phone_candidate_id: $json.phone_candidate_id || null,\n    contact_conflict: dedupResult === 'contact_conflict'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        224
      ],
      "id": "1ca2a6b8-0ed5-4434-a777-2071abc2b548",
      "name": "Build context after dedup search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f41befff-e623-49d0-82ba-7e08a03120da",
              "leftValue": "={{ $json.is_duplicate_candidate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        224
      ],
      "id": "30f41234-8128-4ee6-a810-1ce1e682172b",
      "name": "Candidate already exists?"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    candidate_id: $json.existing_candidate_id,\n    candidate_dedup_status: 'existing'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        80
      ],
      "id": "81186032-caa5-4f8a-a21e-9e8b7530138b",
      "name": "Use existing candidate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO candidates (\n        full_name,\n        city,\n        desired_position,\n        experience_years,\n        skills,\n        salary_expectation,\n        candidate_summary,\n        source_input_id\n    )\n    VALUES (\n        '{{ ($json.candidate.full_name || \"\").replace(/'/g, \"''\") }}',\n        '{{ ($json.candidate.city || \"\").replace(/'/g, \"''\") }}',\n        '{{ ($json.candidate.desired_position || \"\").replace(/'/g, \"''\") }}',\n        {{ $json.candidate.experience_years || 'null' }},\n        ARRAY[{{ ($json.candidate.skills || []).map(s => \"'\" + String(s).replace(/'/g, \"''\") + \"'\").join(\",\") }}]::text[],\n        {{ $json.candidate.salary_expectation || 'null' }},\n        '{{ ($json.candidate.summary || \"\").replace(/'/g, \"''\") }}',\n        '{{ $json.candidate_input_id }}'\n    )\n    RETURNING id\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        '{{ $json.intake_event_id }}',\n        'candidate_saved',\n        'success',\n        'New candidate saved to candidates',\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT inserted.id\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        352
      ],
      "id": "43e5398c-df74-4bdb-a446-77edb0f94e09",
      "name": "PG: insert candidates",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Normalize candidate contacts').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    candidate_id: $json.id,\n    candidate_dedup_status: 'new'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        352
      ],
      "id": "52a87813-1360-4c09-afd2-4a47df88dd48",
      "name": "Build context after candidates"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO candidate_contacts (\n        candidate_id,\n        contact_type,\n        contact_value,\n        normalized_value,\n        is_primary\n    )\n    VALUES\n    (\n        '{{ $json.candidate_id }}',\n        'email',\n        '{{ ($json.candidate.email || \"\").replace(/'/g, \"''\") }}',\n        '{{ ($json.candidate.email_normalized || \"\").replace(/'/g, \"''\") }}',\n        true\n    ),\n    (\n        '{{ $json.candidate_id }}',\n        'phone',\n        '{{ ($json.candidate.phone || \"\").replace(/'/g, \"''\") }}',\n        '{{ ($json.candidate.phone_normalized || \"\").replace(/'/g, \"''\") }}',\n        false\n    )\n    ON CONFLICT DO NOTHING\n    RETURNING id\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        '{{ $json.intake_event_id }}',\n        'candidate_contacts_saved',\n        'success',\n        'Candidate contacts saved to candidate_contacts',\n        NULL,\n        1\n    )\n)\nSELECT COUNT(*) AS contacts_saved\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        352
      ],
      "id": "7149e305-a8d1-43b5-9922-f2fa5d15b945",
      "name": "PG: insert candidate_contacts",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build context after candidates').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    contacts_saved: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        352
      ],
      "id": "51780a02-2d14-4b65-bc68-89170ea6f596",
      "name": "Build context after contacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH logged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        '{{ $json.intake_event_id }}',\n        'matching_started',\n        'started',\n        'Loading open vacancies for candidate_id={{ $json.candidate_id }}',\n        NULL,\n        1\n    )\n)\nSELECT\n    '{{ $json.execution_id }}' AS execution_id,\n    '{{ $json.intake_event_id }}' AS intake_event_id,\n    '{{ $json.candidate_input_id }}' AS candidate_input_id,\n    '{{ $json.candidate_id }}' AS candidate_id,\n    '{{ JSON.stringify($json.candidate).replace(/'/g, \"''\") }}'::jsonb AS candidate,\n    jsonb_build_object(\n        'id', id,\n        'title', title,\n        'description', description,\n        'requirements', requirements,\n        'salary_min', salary_min,\n        'salary_max', salary_max\n    ) AS vacancy\nFROM vacancies\nCROSS JOIN logged\nWHERE status = 'open'\nORDER BY created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        224
      ],
      "id": "ea923bb0-be1a-4539-adbc-b1a96467859e",
      "name": "PG: get open vacancies",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const candidate = $json.candidate || {};\nconst vacancy = $json.vacancy || {};\n\n// Get LLM provider configuration\nconst llmConfig =\n  $('Configure LLM Provider').first().json.llm_config || {\n    llm_provider: 'openai',\n    llm_url: 'https://api.openai.com/v1/chat/completions',\n    llm_model: 'gpt-4o-mini',\n    llm_supports_structured_output: true\n  };\n\n// Define JSON schema\nconst matchSchema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    vacancy_id: { type: ['string', 'null'] },\n    title: { type: ['string', 'null'] },\n    role_score: { type: 'number' },\n    skills_score: { type: 'number' },\n    experience_score: { type: 'number' },\n    conditions_score: { type: 'number' },\n    score: { type: 'number' },\n    decision: {\n      type: 'string',\n      enum: ['match', 'no_match']\n    },\n    reason: { type: 'string' }\n  },\n  required: [\n    'vacancy_id',\n    'title',\n    'role_score',\n    'skills_score',\n    'experience_score',\n    'conditions_score',\n    'score',\n    'decision',\n    'reason'\n  ]\n};\n\n// Build request body\nconst openai_body = {\n  model: llmConfig.llm_model,\n  temperature: 0,\n  messages: [\n    {\n      role: 'system',\n      content: `Ты HR matching assistant.\n\nСравни кандидата и вакансию по критериям:\n\n1. Должность / роль — 30 баллов\n2. Навыки — 35 баллов\n3. Опыт — 20 баллов\n4. Город / формат / зарплатные ожидания — 15 баллов\n\nИтоговый score должен быть от 0 до 100.\n\nПравила:\n- score >= 60 → decision = \"match\"\n- score < 60 → decision = \"no_match\"\n- не выдумывай навыки и опыт\n- если данных недостаточно, снижай score\n- reason должен кратко объяснять, почему выставлен такой score\n\nВерни строго JSON по схеме.`\n    },\n    {\n      role: 'user',\n      content:\n        'Кандидат:\\n' +\n        JSON.stringify(candidate, null, 2) +\n        '\\n\\nВакансия:\\n' +\n        JSON.stringify(vacancy, null, 2)\n    }\n  ]\n};\n\n// Add response_format only if provider supports it\nif (llmConfig.llm_supports_structured_output) {\n  openai_body.response_format = {\n    type: 'json_schema',\n    json_schema: {\n      name: 'vacancy_match_result',\n      strict: true,\n      schema: matchSchema\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    llm_config: llmConfig,\n    openai_body: openai_body\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        224
      ],
      "id": "c4b355c2-bfc1-403a-a70c-279d0d5284cd",
      "name": "Prepare OpenAI Body: Match candidate vacancy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm_config.llm_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2528,
        224
      ],
      "id": "2a40103d-768c-41b2-a966-1d74a9a9c116",
      "name": "LLM: Match candidate vacancy (OpenAI)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\nfunction clamp(value, min, max) {\n  return Math.max(min, Math.min(max, Number(value || 0)));\n}\n\nconst sourceItems = $('Prepare OpenAI Body: Match candidate vacancy').all();\n\nreturn items.map((item, index) => {\n  const source = sourceItems[index]?.json || {};\n  const raw = extractRaw(item.json);\n\n  const fallback = {\n    vacancy_id: source.vacancy?.id || null,\n    title: source.vacancy?.title || '',\n    role_score: 0,\n    skills_score: 0,\n    experience_score: 0,\n    conditions_score: 0,\n    score: 0,\n    decision: 'no_match',\n    reason: 'Не удалось разобрать ответ модели'\n  };\n\n  const parsed = parseJson(raw, fallback);\n\n  const roleScore = clamp(parsed.role_score, 0, 30);\n  const skillsScore = clamp(parsed.skills_score, 0, 35);\n  const experienceScore = clamp(parsed.experience_score, 0, 20);\n  const conditionsScore = clamp(parsed.conditions_score, 0, 15);\n\n  const calculatedScore =\n    roleScore +\n    skillsScore +\n    experienceScore +\n    conditionsScore;\n\n  const modelScore = clamp(parsed.score, 0, 100);\n  const score = calculatedScore > 0 ? calculatedScore : modelScore;\n\n  return {\n    json: {\n      ...source,\n      llm_provider: source.llm_config?.llm_provider || 'openai',\n      llm_raw_match_response: raw,\n      match_result: {\n        vacancy_id: parsed.vacancy_id || source.vacancy?.id || null,\n        title: parsed.title || source.vacancy?.title || '',\n        role_score: roleScore,\n        skills_score: skillsScore,\n        experience_score: experienceScore,\n        conditions_score: conditionsScore,\n        score,\n        decision: score >= 60 ? 'match' : 'no_match',\n        reason: parsed.reason || ''\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        224
      ],
      "id": "85121ce4-ea73-434c-a738-e420bf12b419",
      "name": "Parse match JSON"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO matches (\n        candidate_id,\n        vacancy_id,\n        score,\n        decision,\n        reason,\n        raw_llm_response\n    )\n    VALUES (\n        '{{ $json.candidate_id }}',\n        '{{ $json.match_result.vacancy_id || $json.vacancy.id }}',\n        {{ Number($json.match_result.score || 0) }},\n        '{{ $json.match_result.decision || \"no_match\" }}',\n        '{{ ($json.match_result.reason || \"\").replace(/'/g, \"''\") }}',\n        '{{ JSON.stringify($json.match_result).replace(/'/g, \"''\") }}'::jsonb\n    )\n    RETURNING id, candidate_id, vacancy_id, score, decision\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        '{{ $json.intake_event_id }}',\n        'match_saved',\n        inserted.decision,\n        'Match result saved for vacancy_id=' || inserted.vacancy_id || ', score=' || inserted.score,\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT inserted.id, inserted.candidate_id, inserted.vacancy_id, inserted.score, inserted.decision\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3056,
        224
      ],
      "id": "35ce8dbb-347a-4e97-a9cb-1a7fc81cd9b4",
      "name": "PG: insert matches",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsedItems = $('Parse match JSON').all();\n\nreturn items.map((item, index) => {\n  const source = parsedItems[index].json;\n\n  return {\n    json: {\n      ...source,\n      match_db: item.json\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        224
      ],
      "id": "b3b42eda-14d1-49ed-a7c2-3890a32921c3",
      "name": "Build context after matches"
    },
    {
      "parameters": {
        "jsCode": "const all = items.map(i => i.json);\n\nall.sort((a, b) => {\n  const scoreA = Number(a.match_db?.score || a.match_result?.score || 0);\n  const scoreB = Number(b.match_db?.score || b.match_result?.score || 0);\n  return scoreB - scoreA;\n});\n\nconst best = all[0] || {};\nconst bestScore = Number(best.match_db?.score || best.match_result?.score || 0);\n\nconst hasMatch = bestScore >= 60;\n\nconst criteria = best.match_result || {};\n\nreturn [{\n  json: {\n    ...best,\n    best_match: {\n      match_id: best.match_db?.id || null,\n      vacancy_id: best.match_db?.vacancy_id || best.vacancy?.id || null,\n      title: best.match_result?.title || best.vacancy?.title || '',\n      score: bestScore,\n      decision: hasMatch ? 'match' : 'no_match',\n      reason: best.match_result?.reason || '',\n      criteria: {\n        role_score: Number(criteria.role_score || 0),\n        skills_score: Number(criteria.skills_score || 0),\n        experience_score: Number(criteria.experience_score || 0),\n        conditions_score: Number(criteria.conditions_score || 0)\n      }\n    },\n    has_match: hasMatch\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        224
      ],
      "id": "ca8c9571-9205-4e39-a47a-64d756c50ee1",
      "name": "Select best match"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO final_decisions (\n        candidate_id,\n        best_match_id,\n        has_match,\n        decision_status,\n        decision_reason\n    )\n    VALUES (\n        '{{ $json.candidate_id }}',\n        '{{ $json.best_match.match_id }}',\n        {{ $json.has_match }},\n        '{{ $json.has_match ? \"match\" : \"no_match\" }}',\n        '{{ ($json.best_match.reason || \"\").replace(/'/g, \"''\") }}'\n    )\n    RETURNING id, candidate_id, has_match, decision_status\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        '{{ $json.intake_event_id }}',\n        'decision_made',\n        inserted.decision_status,\n        'Final decision saved: ' || inserted.decision_status,\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT inserted.id, inserted.candidate_id, inserted.has_match, inserted.decision_status\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3776,
        224
      ],
      "id": "9144e66d-f32e-427c-b5b4-4634b6c1387b",
      "name": "PG: insert final_decisions",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Select best match').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    final_decision_id: $json.id\n  }\n}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        224
      ],
      "id": "1c242f41-c53a-49a4-9241-1dcc09961e0e",
      "name": "Build context after final_decision"
    },
    {
      "parameters": {
        "jsCode": "const sourceCtx = $('Prepare OpenAI Body: Extract candidate JSON').first().json || {};\n\nconst match = $json.best_match || {};\nconst c = match.criteria || {};\n\nconst chatId =\n  $json.chat_id ||\n  sourceCtx.chat_id ||\n  null;\n\nif (!chatId) {\n  throw new Error('chat_id is missing before final Telegram response');\n}\n\nconst title = match.title || 'Подходящая вакансия';\nconst score = Number(match.score || 0);\n\nlet body;\n\nif ($json.has_match) {\n  body =\n`💼 ${title}\n\n📊 Совпадение: ${score}/100\n\nДетализация:\n• роль: ${c.role_score || 0}/30\n• навыки: ${c.skills_score || 0}/35\n• опыт: ${c.experience_score || 0}/20\n• условия: ${c.conditions_score || 0}/15\n\n📝 ${match.reason || '—'}\n\nВы можете откликнуться на вакансию или отправить другое резюме.`;\n} else {\n  body =\n`ℹ️ Результат анализа\n\nПодходящей вакансии пока нет.\n\n📊 Лучшее совпадение: ${score}/100\n\nДетализация:\n• роль: ${c.role_score || 0}/30\n• навыки: ${c.skills_score || 0}/35\n• опыт: ${c.experience_score || 0}/20\n• условия: ${c.conditions_score || 0}/15\n\n📝 ${match.reason || '—'}\n\nМы сохраним информацию и вернёмся при появлении релевантной позиции.`;\n}\n\nconst buttons = $json.has_match\n  ? [\n      [\n        {\n          text: '✅ Откликнуться',\n          callback_data: 'apply'\n        }\n      ],\n      [\n        {\n          text: '🔄 Другая вакансия',\n          callback_data: 'next'\n        }\n      ],\n      [\n        {\n          text: '🎬 Сгенерировать видео',\n          callback_data: 'video'\n        }\n      ],\n      [\n        {\n          text: '📄 Отправить другое резюме',\n          callback_data: 'restart'\n        }\n      ]\n    ]\n  : [\n      [\n        {\n          text: '📄 Отправить другое резюме',\n          callback_data: 'restart'\n        }\n      ]\n    ];\n\nreturn [{\n  json: {\n    ...$json,\n\n    chat_id: String(chatId),\n\n    response_channel: 'telegram',\n    response_recipient: String(chatId),\n    response_message_type: $json.has_match ? 'match_card' : 'no_match',\n    response_subject: null,\n    response_body: body,\n\n    telegram_reply_markup: {\n      inline_keyboard: buttons\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        224
      ],
      "id": "ba74a4d1-eb74-4653-889c-8d220d4e85e6",
      "name": "Build TG response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO outbox (\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        subject,\n        body,\n        reply_markup,\n        status\n    )\n    VALUES (\n       NULLIF('{{ $json.intake_event_id || \"\" }}', '')::uuid,\n       NULLIF('{{ $json.candidate_id || \"\" }}', '')::uuid,\n        '{{ $json.response_channel }}',\n        COALESCE(\n            NULLIF('{{ $json.response_recipient || \"\" }}', ''),\n            (\n                SELECT telegram_chat_id::text\n                FROM intake_events\n                WHERE id = '{{ $json.intake_event_id }}'\n                LIMIT 1\n            )\n        ),\n        '{{ $json.response_message_type }}',\n        NULL,\n        '{{ ($json.response_body || \"\").replace(/'/g, \"''\") }}',\n        NULLIF('{{ JSON.stringify($json.telegram_reply_markup || null).replace(/'/g, \"''\") }}', 'null')::jsonb,\n        'pending'\n    )\n    RETURNING\n        id,\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        body,\n        reply_markup,\n        status\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        inserted.intake_event_id,\n        'final_response_prepared',\n        inserted.status,\n        'Telegram response prepared in outbox, type=' || inserted.message_type,\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT\n    id AS outbox_id,\n    intake_event_id,\n    candidate_id,\n    channel,\n    recipient,\n    message_type,\n    body,\n    reply_markup,\n    status\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        944
      ],
      "id": "7ec12362-18d5-42c4-a948-87a0afbbaf90",
      "name": "PG: insert outbox pending result",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n    UPDATE candidate_inputs\n    SET processing_status = 'done'\n    WHERE id = '{{ $(\"Build TG response\").first().json.candidate_input_id }}'\n    RETURNING id, intake_event_id, execution_id, processing_status\n),\nlogged AS (\n    SELECT log_processing_event(\n        updated.execution_id,\n        updated.intake_event_id,\n        'processing_done',\n        updated.processing_status,\n        'Processing completed successfully',\n        NULL,\n        1\n    )\n    FROM updated\n)\nSELECT updated.id, updated.processing_status\nFROM updated\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        944
      ],
      "id": "41c106f8-e19e-47d9-91df-a89e93cd1b91",
      "name": "PG: mark candidate_input done",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO outbox (\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        subject,\n        body,\n        reply_markup,\n        status\n    )\n    VALUES (\n       NULLIF('{{ $json.intake_event_id || \"\" }}', '')::uuid,\n       NULLIF('{{ $json.candidate_id || \"\" }}', '')::uuid,\n        '{{ $json.response_channel }}',\n        COALESCE(\n            NULLIF('{{ $json.response_recipient || \"\" }}', ''),\n            (\n                SELECT telegram_chat_id::text\n                FROM intake_events\n                WHERE id = '{{ $json.intake_event_id }}'\n                LIMIT 1\n            )\n        ),\n        '{{ $json.response_message_type }}',\n        NULL,\n        '{{ ($json.response_body || \"\").replace(/'/g, \"''\") }}',\n        NULLIF('{{ JSON.stringify($json.telegram_reply_markup || null).replace(/'/g, \"''\") }}', 'null')::jsonb,\n        'pending'\n    )\n    RETURNING\n        id,\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        body,\n        reply_markup,\n        status\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        inserted.intake_event_id,\n        'outbox_prepared',\n        inserted.status,\n        'Telegram response prepared in outbox, type=' || inserted.message_type,\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT\n    id AS outbox_id,\n    intake_event_id,\n    candidate_id,\n    channel,\n    recipient,\n    message_type,\n    body,\n    reply_markup,\n    status\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        464
      ],
      "id": "510651a7-9c10-4805-b876-519007c75b4b",
      "name": "PG: insert outbox pending invalid",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n    UPDATE candidate_inputs\n    SET processing_status = 'error'\n    WHERE id = '{{ $(\"Build TG invalid resume response\").first().json.candidate_input_id }}'\n    RETURNING id, intake_event_id, execution_id, processing_status\n),\nlogged AS (\n    SELECT log_processing_event(\n        updated.execution_id,\n        updated.intake_event_id,\n        'processing_error',\n        'error',\n        '{{ ($(\"Build TG invalid resume response\").first().json.error_type || \"invalid_resume\").replace(/'/g, \"''\") }}',\n        '{{ ($(\"Build TG invalid resume response\").first().json.error_message || \"Invalid resume\").replace(/'/g, \"''\") }}',\n        1\n    )\n    FROM updated\n)\nSELECT updated.id, updated.processing_status\nFROM updated\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        464
      ],
      "id": "c77335ca-c42f-4e6e-af88-cbe6d7952076",
      "name": "PG: mark candidate_input error invalid",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO outbox (\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        subject,\n        body,\n        reply_markup,\n        status\n    )\n    VALUES (\n       NULLIF('{{ $json.intake_event_id || \"\" }}', '')::uuid,\n       NULLIF('{{ $json.candidate_id || \"\" }}', '')::uuid,\n        '{{ $json.response_channel }}',\n        COALESCE(\n            NULLIF('{{ $json.response_recipient || \"\" }}', ''),\n            (\n                SELECT telegram_chat_id::text\n                FROM intake_events\n                WHERE id = '{{ $json.intake_event_id }}'\n                LIMIT 1\n            )\n        ),\n        '{{ $json.response_message_type }}',\n        NULL,\n        '{{ ($json.response_body || \"\").replace(/'/g, \"''\") }}',\n        NULLIF('{{ JSON.stringify($json.telegram_reply_markup || null).replace(/'/g, \"''\") }}', 'null')::jsonb,\n        'pending'\n    )\n    RETURNING\n        id,\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        body,\n        reply_markup,\n        status\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id }}',\n        inserted.intake_event_id,\n        'outbox_prepared',\n        inserted.status,\n        'Telegram response prepared in outbox, type=' || inserted.message_type,\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT\n    id AS outbox_id,\n    intake_event_id,\n    candidate_id,\n    channel,\n    recipient,\n    message_type,\n    body,\n    reply_markup,\n    status\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        624
      ],
      "id": "85b429b4-b43f-4a2c-b5ff-99f7603358bd",
      "name": "PG: insert outbox pending JSON error",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n    UPDATE candidate_inputs\n    SET processing_status = 'error'\n    WHERE id = '{{ $(\"Build TG error response\").first().json.candidate_input_id }}'\n    RETURNING id, intake_event_id, execution_id, processing_status\n),\nlogged AS (\n    SELECT log_processing_event(\n        updated.execution_id,\n        updated.intake_event_id,\n        'processing_error',\n        'error',\n        '{{ ($(\"Build TG error response\").first().json.error_type || \"candidate_json_error\").replace(/'/g, \"''\") }}',\n        '{{ ($(\"Build TG error response\").first().json.error_message || \"Candidate JSON parsing failed\").replace(/'/g, \"''\") }}',\n        1\n    )\n    FROM updated\n)\nSELECT updated.id, updated.processing_status\nFROM updated\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        560
      ],
      "id": "bb589884-631f-4cb0-8716-3a20d314327a",
      "name": "PG: mark candidate_input error JSON",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n    response_channel: 'telegram',\n    response_recipient: String($json.chat_id),\n    response_message_type: 'processing',\n    response_body:\n`🔍 Анализирую резюме\n\n📊 Сравниваю кандидата с открытыми вакансиями...`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        112
      ],
      "id": "37281343-ac65-4553-b41d-d59d345baea1",
      "name": "Build TG processing status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO outbox (\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        subject,\n        body,\n        reply_markup,\n        status\n    )\n    VALUES (\n        NULLIF('{{ $json.intake_event_id || \"\" }}', '')::uuid,\n        NULL,\n        '{{ $json.response_channel }}',\n        '{{ $json.response_recipient }}',\n        '{{ $json.response_message_type }}',\n        NULL,\n        '{{ ($json.response_body || \"\").replace(/'/g, \"''\") }}',\n        NULLIF('{{ JSON.stringify($json.telegram_reply_markup || null).replace(/'/g, \"''\") }}', 'null')::jsonb,\n        'pending'\n    )\n    RETURNING id\n)\nSELECT id AS outbox_id\nFROM inserted;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2144,
        112
      ],
      "id": "7ca0cd95-fc51-4d21-b5ef-5f510b5c3e81",
      "name": "PG: insert outbox pending processing",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Prepare OpenAI Body: Extract candidate JSON').first().json || {};\nconst err = $json.error || $json;\nconst msg = err.message || err.description || err.error || JSON.stringify(err);\nconst chatId = ctx.chat_id || $json.chat_id || null;\n\nreturn [{\n  json: {\n    ...ctx,\n    error_stage: 'processing',\n    error_type: 'llm_extract_error',\n    error_message: String(msg || 'OpenAI request failed after retries'),\n    error_recoverable: true,\n    candidate_input_id: ctx.candidate_input_id || null,\n    intake_event_id: ctx.intake_event_id || null,\n    execution_id: ctx.execution_id || null,\n    chat_id: chatId,\n    response_channel: 'telegram',\n    response_recipient: chatId ? String(chatId) : null,\n    response_message_type: 'processing_error',\n    response_subject: null,\n    response_body: `⚠️ Не удалось обработать резюме\n\nПопробуйте отправить его ещё раз или в другом формате.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        800
      ],
      "id": "9936af69-7349-4892-a29e-f632d499fdbf",
      "name": "Build processing error context: Extract"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Prepare OpenAI Body: Repair candidate JSON').first().json || {};\nconst err = $json.error || $json;\nconst msg = err.message || err.description || err.error || JSON.stringify(err);\nconst chatId = ctx.chat_id || $json.chat_id || null;\n\nreturn [{\n  json: {\n    ...ctx,\n    error_stage: 'processing',\n    error_type: 'llm_repair_error',\n    error_message: String(msg || 'OpenAI request failed after retries'),\n    error_recoverable: true,\n    candidate_input_id: ctx.candidate_input_id || null,\n    intake_event_id: ctx.intake_event_id || null,\n    execution_id: ctx.execution_id || null,\n    chat_id: chatId,\n    response_channel: 'telegram',\n    response_recipient: chatId ? String(chatId) : null,\n    response_message_type: 'processing_error',\n    response_subject: null,\n    response_body: `⚠️ Не удалось обработать резюме\n\nПопробуйте отправить его ещё раз или в другом формате.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        832
      ],
      "id": "eeacc8c8-dc4f-492a-90e6-5c5ac48c9352",
      "name": "Build processing error context: Repair"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Prepare OpenAI Body: Match candidate vacancy').first().json || {};\nconst err = $json.error || $json;\nconst msg = err.message || err.description || err.error || JSON.stringify(err);\nconst chatId = ctx.chat_id || $json.chat_id || null;\n\nreturn [{\n  json: {\n    ...ctx,\n    error_stage: 'processing',\n    error_type: 'llm_match_error',\n    error_message: String(msg || 'OpenAI request failed after retries'),\n    error_recoverable: true,\n    candidate_input_id: ctx.candidate_input_id || null,\n    intake_event_id: ctx.intake_event_id || null,\n    execution_id: ctx.execution_id || null,\n    chat_id: chatId,\n    response_channel: 'telegram',\n    response_recipient: chatId ? String(chatId) : null,\n    response_message_type: 'processing_error',\n    response_subject: null,\n    response_body: `⚠️ Не удалось обработать резюме\n\nПопробуйте отправить его ещё раз или в другом формате.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        592
      ],
      "id": "0e851690-ddad-4b89-a945-25424204335d",
      "name": "Build processing error context: Match"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n    UPDATE candidate_inputs\n    SET processing_status = 'error'\n    WHERE id = '{{ $json.candidate_input_id }}'\n    RETURNING id, intake_event_id, execution_id, processing_status\n),\nlogged AS (\n    SELECT log_processing_event(\n        COALESCE(updated.execution_id, '{{ $json.execution_id || \"unknown\" }}'),\n        updated.intake_event_id,\n        'processing_error',\n        'error',\n        '{{ ($json.error_type || \"processing_error\").replace(/'/g, \"''\") }}',\n        '{{ ($json.error_message || \"Processing error\").replace(/'/g, \"''\") }}',\n        1\n    )\n    FROM updated\n)\nSELECT updated.id, updated.processing_status\nFROM updated\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        832
      ],
      "id": "c2f7a076-cc27-4e30-9230-643899c4e7a1",
      "name": "PG: mark candidate_input error + log",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n    INSERT INTO outbox (\n        intake_event_id,\n        candidate_id,\n        channel,\n        recipient,\n        message_type,\n        subject,\n        body,\n        reply_markup,\n        status\n    )\n    VALUES (\n       NULLIF('{{ $json.intake_event_id || \"\" }}', '')::uuid,\n       NULLIF('{{ $json.candidate_id || \"\" }}', '')::uuid,\n        '{{ $json.response_channel || \"telegram\" }}',\n        COALESCE(\n            NULLIF('{{ $json.response_recipient || \"\" }}', ''),\n            (\n                SELECT telegram_chat_id::text\n                FROM intake_events\n                WHERE id = '{{ $json.intake_event_id }}'\n                LIMIT 1\n            )\n        ),\n        '{{ $json.response_message_type || \"processing_error\" }}',\n        NULL,\n        '{{ ($json.response_body || \"⚠️ Не удалось обработать резюме. Попробуйте отправить его ещё раз или в другом формате.\").replace(/'/g, \"''\") }}',\n        NULL,\n        'pending'\n    )\n    RETURNING id, intake_event_id, status\n),\nlogged AS (\n    SELECT log_processing_event(\n        '{{ $json.execution_id || \"unknown\" }}',\n        inserted.intake_event_id,\n        'fallback_prepared',\n        inserted.status,\n        'Telegram fallback prepared after processing error',\n        NULL,\n        1\n    )\n    FROM inserted\n)\nSELECT inserted.id AS outbox_id, inserted.status\nFROM inserted\nCROSS JOIN logged;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        832
      ],
      "id": "651d2f28-afdd-48d7-9c6c-fa477ac0ce6c",
      "name": "PG: insert outbox pending processing error",
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Configure LLM Provider\n// Provider selection: openai (default) | runpod\n// Set via environment variable LLM_PROVIDER\n\nconst provider = 'runpod';\n\nconst configs = {\n  openai: {\n    llm_provider: 'openai',\n    llm_url: 'https://api.openai.com/v1/chat/completions',\n    llm_model: 'gpt-4o-mini',\n    llm_supports_structured_output: true,\n    llm_auth_credential_id: null\n  },\n  runpod: {\n    llm_provider: 'runpod',\n    llm_url: 'https://khu0q820y5ssqu-8000.proxy.runpod.net/v1/chat/completions',\n    llm_model: 'hra-qwen',\n    llm_supports_structured_output: true,\n    llm_auth_credential_id: null\n  }\n};\n\nconst config = configs[provider];\n\nif (!config) {\n  throw new Error(`Unknown LLM provider: ${provider}. Supported: openai, runpod`);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    llm_config: config\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        304
      ],
      "id": "4a1f46d2-e8e8-4f69-a392-82b653e86549",
      "name": "Configure LLM Provider"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "provider-check-c1959993-6804-4108-9d44-5ae1d942124b",
              "leftValue": "={{ $json.llm_config.llm_provider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        304
      ],
      "id": "d1709d9f-e831-42e8-b02b-6b2f9a47a183",
      "name": "IF: Provider for Extract candidate JSON?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm_config.llm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1648,
        464
      ],
      "id": "0a2204fa-dc0f-4741-92f2-58cf5c2e2c01",
      "name": "LLM: Extract candidate JSON (RunPod)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "provider-check-fcd11f0e-261f-491b-bd7d-9e3ca6b224e5",
              "leftValue": "={{ $json.llm_config.llm_provider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        432
      ],
      "id": "7a89876c-dc7e-4f2b-9f76-737d9ee82e13",
      "name": "IF: Provider for Repair candidate JSON?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm_config.llm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        592
      ],
      "id": "b0546806-4692-40ea-b406-d2f45659484c",
      "name": "LLM: Repair candidate JSON (RunPod)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "provider-check-9bef185e-b33a-4c74-b30c-45df23b64294",
              "leftValue": "={{ $json.llm_config.llm_provider }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2272,
        224
      ],
      "id": "7f4512d4-0e9b-4e98-a68c-f8ced7cfcb79",
      "name": "IF: Provider for Match candidate vacancy?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.llm_config.llm_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2528,
        384
      ],
      "id": "17c111ab-fd73-4b1e-b56f-20d24f99613a",
      "name": "LLM: Match candidate vacancy (RunPod)",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger: process pending inputs": {
      "main": [
        [
          {
            "node": "PG: claim pending candidate_inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: claim pending candidate_inputs": {
      "main": [
        [
          {
            "node": "IF: has pending input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: has pending input?": {
      "main": [
        [
          {
            "node": "Configure LLM Provider",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build TG processing status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Body: Extract candidate JSON": {
      "main": [
        [
          {
            "node": "IF: Provider for Extract candidate JSON?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI Candidate JSON": {
      "main": [
        [
          {
            "node": "IF: candidate JSON valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: candidate JSON valid?": {
      "main": [
        [
          {
            "node": "Validate candidate content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare OpenAI Body: Repair candidate JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Body: Repair candidate JSON": {
      "main": [
        [
          {
            "node": "IF: Provider for Repair candidate JSON?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI Repair Candidate JSON": {
      "main": [
        [
          {
            "node": "IF: repaired JSON valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: repaired JSON valid?": {
      "main": [
        [
          {
            "node": "Validate candidate content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build TG error response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate candidate content": {
      "main": [
        [
          {
            "node": "IF: candidate meaningful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: candidate meaningful?": {
      "main": [
        [
          {
            "node": "Normalize candidate contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build TG invalid resume response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TG invalid resume response": {
      "main": [
        [
          {
            "node": "PG: insert outbox pending invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert outbox pending invalid": {
      "main": [
        [
          {
            "node": "PG: mark candidate_input error invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TG error response": {
      "main": [
        [
          {
            "node": "PG: insert outbox pending JSON error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert outbox pending JSON error": {
      "main": [
        [
          {
            "node": "PG: mark candidate_input error JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize candidate contacts": {
      "main": [
        [
          {
            "node": "PG: find existing candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: find existing candidate": {
      "main": [
        [
          {
            "node": "Build context after dedup search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build context after dedup search": {
      "main": [
        [
          {
            "node": "Candidate already exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate already exists?": {
      "main": [
        [
          {
            "node": "Use existing candidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG: insert candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use existing candidate": {
      "main": [
        [
          {
            "node": "PG: get open vacancies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert candidates": {
      "main": [
        [
          {
            "node": "Build context after candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build context after candidates": {
      "main": [
        [
          {
            "node": "PG: insert candidate_contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert candidate_contacts": {
      "main": [
        [
          {
            "node": "Build context after contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build context after contacts": {
      "main": [
        [
          {
            "node": "PG: get open vacancies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: get open vacancies": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Body: Match candidate vacancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenAI Body: Match candidate vacancy": {
      "main": [
        [
          {
            "node": "IF: Provider for Match candidate vacancy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse match JSON": {
      "main": [
        [
          {
            "node": "PG: insert matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert matches": {
      "main": [
        [
          {
            "node": "Build context after matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build context after matches": {
      "main": [
        [
          {
            "node": "Select best match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select best match": {
      "main": [
        [
          {
            "node": "PG: insert final_decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert final_decisions": {
      "main": [
        [
          {
            "node": "Build context after final_decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build context after final_decision": {
      "main": [
        [
          {
            "node": "Build TG response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TG response": {
      "main": [
        [
          {
            "node": "PG: insert outbox pending result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: insert outbox pending result": {
      "main": [
        [
          {
            "node": "PG: mark candidate_input done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TG processing status": {
      "main": [
        [
          {
            "node": "PG: insert outbox pending processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build processing error context: Extract": {
      "main": [
        [
          {
            "node": "PG: mark candidate_input error + log",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG: insert outbox pending processing error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build processing error context: Repair": {
      "main": [
        [
          {
            "node": "PG: mark candidate_input error + log",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG: insert outbox pending processing error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build processing error context: Match": {
      "main": [
        [
          {
            "node": "PG: mark candidate_input error + log",
            "type": "main",
            "index": 0
          },
          {
            "node": "PG: insert outbox pending processing error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure LLM Provider": {
      "main": [
        [
          {
            "node": "Prepare OpenAI Body: Extract candidate JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Extract candidate JSON (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse OpenAI Candidate JSON",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "LLM: Repair candidate JSON (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse OpenAI Repair Candidate JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build processing error context: Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Match candidate vacancy (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse match JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build processing error context: Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Provider for Extract candidate JSON?": {
      "main": [
        [
          {
            "node": "LLM: Extract candidate JSON (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM: Extract candidate JSON (RunPod)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Extract candidate JSON (RunPod)": {
      "main": [
        [
          {
            "node": "Parse OpenAI Candidate JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build processing error context: Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Provider for Repair candidate JSON?": {
      "main": [
        [
          {
            "node": "LLM: Repair candidate JSON (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM: Repair candidate JSON (RunPod)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Repair candidate JSON (RunPod)": {
      "main": [
        [
          {
            "node": "Parse OpenAI Repair Candidate JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build processing error context: Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Provider for Match candidate vacancy?": {
      "main": [
        [
          {
            "node": "LLM: Match candidate vacancy (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM: Match candidate vacancy (RunPod)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Match candidate vacancy (RunPod)": {
      "main": [
        [
          {
            "node": "Parse match JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build processing error context: Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "047dc6e7-d407-483c-8a77-1c8c8408f175",
  "meta": {
    "instanceId": "459d700c4d3ea9df0b9dbe57d77ff97afbecd67db60fe901cb9d66accc63fb7f"
  },
  "id": "moEgtiz2ZtkmodWb",
  "tags": []
}