workflows/HRA Prompt Evaluation Experiment.json
{
  "name": "HRA Prompt Evaluation Experiment",
  "nodes": [
    {
      "parameters": {},
      "id": "ea13bac5-730d-4507-83fc-24656c39be95",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6096,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Run Configuration\n// Change these values to run different experiments\nreturn [{\n  json: {\n    experiment_code: 'HRA-EXP-V1',\n    dataset_code: 'HRA-EVAL-V1',\n    expected_pairs: 90\n  }\n}];"
      },
      "id": "run-config-node",
      "name": "Run Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6200,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    e.id AS experiment_id,\n    e.experiment_code,\n    e.prompt_a_text,\n    e.prompt_b_text,\n    e.judge_prompt_text,\n    e.model_a,\n    e.model_b,\n    e.model_judge,\n    e.temperature_a,\n    e.temperature_b,\n    e.temperature_judge,\n    d.dataset_code,\n    COUNT(cv.id) AS total_pairs\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nLEFT JOIN eval_prompt_cases c ON c.dataset_id = d.id\nLEFT JOIN eval_prompt_case_vacancies cv ON cv.case_id = c.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nGROUP BY e.id, e.experiment_code, e.prompt_a_text, e.prompt_b_text, \n         e.judge_prompt_text, e.model_a, e.model_b, e.model_judge,\n         e.temperature_a, e.temperature_b, e.temperature_judge, d.dataset_code;",
        "options": {}
      },
      "id": "a40cb5ca-c2a1-4c32-b498-f7e06609c0fa",
      "name": "PG: Check Experiment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6304,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "experiment-exists",
              "leftValue": "={{ $json.experiment_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "pairs-count",
              "leftValue": "={{ Number($json.total_pairs) }}",
              "rightValue": "={{ Number($('Run Config').first().json.expected_pairs) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "54063aa0-83ec-49db-993f-b173bb8fb66e",
      "name": "IF: Experiment Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6496,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Run Config').first().json;\nreturn [{\n  json: {\n    error: 'Experiment validation failed',\n    message: `Experiment ${config.experiment_code} not found or dataset ${config.dataset_code} has incorrect number of pairs`,\n    expected_pairs: config.expected_pairs,\n    actual_pairs: $('PG: Check Experiment').first()?.json?.total_pairs || 0\n  }\n}];"
      },
      "id": "36a6f368-8cde-48c1-8af9-bb6417ffb9e1",
      "name": "Error: Experiment Not Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6704,
        -432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_runs (\n    id,\n    experiment_id,\n    run_type,\n    status,\n    started_at,\n    created_at\n)\nSELECT\n    gen_random_uuid(),\n    e.id,\n    'judge',\n    'running',\n    now(),\n    now()\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nRETURNING id AS run_id, experiment_id;",
        "options": {}
      },
      "id": "b5311075-c101-467f-a38c-816ea2357a55",
      "name": "PG: Create Judge Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6704,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    cv.id AS case_vacancy_id,\n    cv.vacancy_json,\n    c.candidate_json,\n    cv.reference_score,\n    cv.reference_decision\nFROM eval_prompt_case_vacancies cv\nJOIN eval_prompt_cases c ON cv.case_id = c.id\nJOIN eval_prompt_datasets d ON c.dataset_id = d.id\nWHERE d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\n  AND cv.reference_score IS NULL\nORDER BY c.case_code, cv.id;",
        "options": {}
      },
      "id": "a8c56b4c-4b16-4f1c-a30a-4362916a2b9c",
      "name": "PG: Get Pairs Without Reference",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6896,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0373b72a-f567-444a-b714-7499818fdf0a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7104,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidate_json;\nconst vacancy = $json.vacancy_json;\nconst caseVacancyId = $json.case_vacancy_id;\n\nconst experimentData = $('PG: Check Experiment').first().json;\nconst judgePrompt = experimentData.judge_prompt_text;\n\nreturn [{\n  json: {\n    case_vacancy_id: caseVacancyId,\n    request_started_at: Date.now(),\n    candidate: candidate,\n    vacancy: vacancy,\n    openai_body: {\n      model: experimentData.model_judge || 'gpt-4.1-2025-04-14',\n      temperature: Number(experimentData.temperature_judge ?? 0),\n      messages: [\n        {\n          role: 'system',\n          content: judgePrompt\n        },\n        {\n          role: 'user',\n          content: 'Кандидат:\\n' + JSON.stringify(candidate, null, 2) + '\\n\\nВакансия:\\n' + JSON.stringify(vacancy, null, 2) + '\\n\\nПроведи детальную оценку соответствия кандидата вакансии по критериям:\\n1. Должность / роль (0-30 баллов)\\n2. Навыки (0-35 баллов)\\n3. Опыт (0-20 баллов)\\n4. Город / формат / зарплата (0-15 баллов)\\n\\nВерни JSON с оценками и обоснованием.'\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'judge_evaluation_result',\n          strict: true,\n          schema: {\n            type: 'object',\n            additionalProperties: false,\n            properties: {\n              vacancy_id: { type: ['string', 'null'] },\n              title: { type: ['string', 'null'] },\n              role_score: { type: 'number' },\n              skills_score: { type: 'number' },\n              experience_score: { type: 'number' },\n              conditions_score: { type: 'number' },\n              score: { type: 'number' },\n              decision: {\n                type: 'string',\n                enum: ['match', 'no_match']\n              },\n              reason: { type: 'string' }\n            },\n            required: ['vacancy_id', 'title', 'role_score', 'skills_score', \n                       'experience_score', 'conditions_score', 'score', \n                       'decision', 'reason']\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "1d23ad74-89ad-4b8f-bb3a-df0a70de2514",
      "name": "Prepare Judge Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {}
          }
        }
      },
      "id": "9a89c23f-e6f6-4fc5-9bd8-f418d2233a9d",
      "name": "HTTP: Call Judge Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7504,
        -256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\n// Get latency from explicit timestamp\nconst requestStartedAt = Number($('Prepare Judge Request').first().json.request_started_at);\nconst latencyMs = Number.isFinite(requestStartedAt) && requestStartedAt > 0\n  ? Date.now() - requestStartedAt\n  : 0;\n\nconst raw = extractRaw($json);\nconst parsed = parseJson(raw, {\n  vacancy_id: null,\n  title: '',\n  role_score: 0,\n  skills_score: 0,\n  experience_score: 0,\n  conditions_score: 0,\n  score: 0,\n  decision: 'no_match',\n  reason: 'Failed to parse response'\n});\n\nconst caseVacancyId = $('Prepare Judge Request').first().json.case_vacancy_id;\n\nreturn [{\n  json: {\n    case_vacancy_id: caseVacancyId,\n    reference_score: parsed.score,\n    reference_decision: parsed.decision,\n    reference_reason: parsed.reason,\n    raw_response: raw,\n    latency_ms: latencyMs,\n    parsed: parsed\n  }\n}];"
      },
      "id": "c836cdd6-84ed-44a0-8c09-a91bf72eb9d9",
      "name": "Parse Judge Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7696,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_case_vacancies\nSET\n    reference_score = {{ $json.reference_score }},\n    reference_decision = '{{ $json.reference_decision }}',\n    reference_reason = '{{ ($json.reference_reason || \"\").replace(/'/g, \"''\") }}'\nWHERE id = '{{ $json.case_vacancy_id }}';",
        "options": {}
      },
      "id": "dca8a1c5-7124-4055-96a2-bf90428973ed",
      "name": "PG: Update Reference Fields",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7904,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to Split In Batches for next iteration\nreturn [{\n  json: {\n    continue: true\n  }\n}];"
      },
      "id": "ef69cad1-f5f3-4fec-b1d4-907546ab2712",
      "name": "Loop: Continue Judge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8096,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_runs\nSET\n    status = 'completed',\n    completed_at = now()\nWHERE run_type = 'judge'\n  AND status = 'running'\n  AND experiment_id IN (\n    SELECT id FROM eval_prompt_experiments \n    WHERE experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  );",
        "options": {}
      },
      "id": "498fd868-2061-4e7b-992b-18d87d884add",
      "name": "PG: Complete Judge Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6512,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_runs (\n    id,\n    experiment_id,\n    run_type,\n    status,\n    started_at,\n    created_at\n)\nSELECT\n    gen_random_uuid(),\n    e.id,\n    'A',\n    'running',\n    now(),\n    now()\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nRETURNING id AS run_id, experiment_id;",
        "options": {}
      },
      "id": "0fb7feb7-4836-4ca7-9774-c36609bbcfe8",
      "name": "PG: Create Prompt A Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6704,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    r.id AS run_id,\n    cv.id AS case_vacancy_id,\n    cv.vacancy_json,\n    c.candidate_json,\n    cv.reference_score,\n    cv.reference_decision\nFROM eval_prompt_runs r\nJOIN eval_prompt_experiments e ON r.experiment_id = e.id\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nJOIN eval_prompt_cases c ON c.dataset_id = d.id\nJOIN eval_prompt_case_vacancies cv ON cv.case_id = c.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND r.run_type = 'A'\n  AND r.status = 'running'\nORDER BY c.case_code, cv.id;",
        "options": {}
      },
      "id": "fd9ade29-cde5-42bc-8246-e0bcb77839d8",
      "name": "PG: Get Pairs For Prompt A",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6912,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a47190e0-0b19-438c-916e-b4308a64825b",
      "name": "Split In Batches: Prompt A",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7104,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidate_json;\nconst vacancy = $json.vacancy_json;\nconst caseVacancyId = $json.case_vacancy_id;\nconst runId = $json.run_id;\n\nconst experimentData = $('PG: Check Experiment').first().json;\nconst promptAText = experimentData.prompt_a_text;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    request_started_at: Date.now(),\n    candidate: candidate,\n    vacancy: vacancy,\n    openai_body: {\n      model: experimentData.model_a || 'gpt-4o-mini',\n      temperature: Number(experimentData.temperature_a ?? 0),\n      messages: [\n        {\n          role: 'system',\n          content: promptAText\n        },\n        {\n          role: 'user',\n          content: 'Кандидат:\\n' + JSON.stringify(candidate, null, 2) + '\\n\\nВакансия:\\n' + JSON.stringify(vacancy, null, 2)\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'vacancy_match_result',\n          strict: true,\n          schema: {\n            type: 'object',\n            additionalProperties: false,\n            properties: {\n              vacancy_id: { type: ['string', 'null'] },\n              title: { type: ['string', 'null'] },\n              role_score: { type: 'number' },\n              skills_score: { type: 'number' },\n              experience_score: { type: 'number' },\n              conditions_score: { type: 'number' },\n              score: { type: 'number' },\n              decision: {\n                type: 'string',\n                enum: ['match', 'no_match']\n              },\n              reason: { type: 'string' }\n            },\n            required: ['vacancy_id', 'title', 'role_score', 'skills_score', \n                       'experience_score', 'conditions_score', 'score', \n                       'decision', 'reason']\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "2666bf2d-2e61-45fc-bda6-100e55371c1f",
      "name": "Prepare Prompt A Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {}
          }
        }
      },
      "id": "60b5f224-ebb8-41cc-b138-e38d0470d432",
      "name": "HTTP: Call Prompt A Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7504,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\n// Get latency from explicit timestamp\nconst requestStartedAt = Number($('Prepare Prompt A Request').first().json.request_started_at);\nconst latencyMs = Number.isFinite(requestStartedAt) && requestStartedAt > 0\n  ? Date.now() - requestStartedAt\n  : 0;\n\nconst raw = extractRaw($json);\nconst parsed = parseJson(raw, {\n  vacancy_id: null,\n  title: '',\n  role_score: 0,\n  skills_score: 0,\n  experience_score: 0,\n  conditions_score: 0,\n  score: 0,\n  decision: 'no_match',\n  reason: 'Failed to parse response'\n});\n\nconst runId = $('Prepare Prompt A Request').first().json.run_id;\nconst caseVacancyId = $('Prepare Prompt A Request').first().json.case_vacancy_id;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    score: parsed.score,\n    decision: parsed.decision,\n    reason: parsed.reason,\n    latency_ms: latencyMs,\n    raw_response: raw,\n    parsed: parsed\n  }\n}];"
      },
      "id": "ee18a91f-268d-4a8a-a80d-ab485fc1e5cd",
      "name": "Parse Prompt A Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7712,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_results (\n    id,\n    run_id,\n    case_vacancy_id,\n    score,\n    decision,\n    latency_ms,\n    raw_response_json,\n    created_at\n)\nVALUES (\n    gen_random_uuid(),\n    '{{ $json.run_id }}',\n    '{{ $json.case_vacancy_id }}',\n    {{ $json.score }},\n    '{{ $json.decision }}',\n    {{ $json.latency_ms }},\n    '{{ JSON.stringify($json.parsed).replace(/'/g, \"''\") }}'::jsonb,\n    now()\n);",
        "options": {}
      },
      "id": "60709a39-1a8c-4efb-9f7c-9c8f88e05c47",
      "name": "PG: Save Prompt A Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7904,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to Split In Batches for next iteration\nreturn [{\n  json: {\n    continue: true\n  }\n}];"
      },
      "id": "ddb0b8ea-bf8d-4337-98fa-76f08932239f",
      "name": "Loop: Continue Prompt A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8112,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_runs\nSET\n    status = 'completed',\n    completed_at = now()\nWHERE run_type = 'A'\n  AND status = 'running'\n  AND experiment_id IN (\n    SELECT id FROM eval_prompt_experiments \n    WHERE experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  );",
        "options": {}
      },
      "id": "04d7d5bd-32a0-4cd2-8daa-645dd132749a",
      "name": "PG: Complete Prompt A Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6512,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_runs (\n    id,\n    experiment_id,\n    run_type,\n    status,\n    started_at,\n    created_at\n)\nSELECT\n    gen_random_uuid(),\n    e.id,\n    'B',\n    'running',\n    now(),\n    now()\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nRETURNING id AS run_id, experiment_id;",
        "options": {}
      },
      "id": "8d64c167-b606-431f-bace-481a49ffdfc5",
      "name": "PG: Create Prompt B Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6720,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    r.id AS run_id,\n    cv.id AS case_vacancy_id,\n    cv.vacancy_json,\n    c.candidate_json,\n    cv.reference_score,\n    cv.reference_decision\nFROM eval_prompt_runs r\nJOIN eval_prompt_experiments e ON r.experiment_id = e.id\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nJOIN eval_prompt_cases c ON c.dataset_id = d.id\nJOIN eval_prompt_case_vacancies cv ON cv.case_id = c.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND r.run_type = 'B'\n  AND r.status = 'running'\nORDER BY c.case_code, cv.id;",
        "options": {}
      },
      "id": "a7a1f5e7-a501-4fdb-bc10-d01e5cb23aa9",
      "name": "PG: Get Pairs For Prompt B",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6912,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8fc02266-1b9d-4fd1-8af3-85107ab63881",
      "name": "Split In Batches: Prompt B",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7104,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidate_json;\nconst vacancy = $json.vacancy_json;\nconst caseVacancyId = $json.case_vacancy_id;\nconst runId = $json.run_id;\n\nconst experimentData = $('PG: Check Experiment').first().json;\nconst promptBText = experimentData.prompt_b_text;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    request_started_at: Date.now(),\n    candidate: candidate,\n    vacancy: vacancy,\n    openai_body: {\n      model: experimentData.model_b || 'gpt-4o-mini',\n      temperature: Number(experimentData.temperature_b ?? 0),\n      messages: [\n        {\n          role: 'system',\n          content: promptBText\n        },\n        {\n          role: 'user',\n          content: 'Кандидат:\\n' + JSON.stringify(candidate, null, 2) + '\\n\\nВакансия:\\n' + JSON.stringify(vacancy, null, 2)\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'vacancy_match_result',\n          strict: true,\n          schema: {\n            type: 'object',\n            additionalProperties: false,\n            properties: {\n              vacancy_id: { type: ['string', 'null'] },\n              title: { type: ['string', 'null'] },\n              role_score: { type: 'number' },\n              skills_score: { type: 'number' },\n              experience_score: { type: 'number' },\n              conditions_score: { type: 'number' },\n              score: { type: 'number' },\n              decision: {\n                type: 'string',\n                enum: ['match', 'no_match']\n              },\n              reason: { type: 'string' }\n            },\n            required: ['vacancy_id', 'title', 'role_score', 'skills_score', \n                       'experience_score', 'conditions_score', 'score', \n                       'decision', 'reason']\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "7fd193c2-ae0a-4ef2-a66e-08496782d4c1",
      "name": "Prepare Prompt B Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {}
          }
        }
      },
      "id": "9e60d8c3-1cb6-4fed-9611-7e5e0a88222b",
      "name": "HTTP: Call Prompt B Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7504,
        224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\n// Get latency from explicit timestamp\nconst requestStartedAt = Number($('Prepare Prompt B Request').first().json.request_started_at);\nconst latencyMs = Number.isFinite(requestStartedAt) && requestStartedAt > 0\n  ? Date.now() - requestStartedAt\n  : 0;\n\nconst raw = extractRaw($json);\nconst parsed = parseJson(raw, {\n  vacancy_id: null,\n  title: '',\n  role_score: 0,\n  skills_score: 0,\n  experience_score: 0,\n  conditions_score: 0,\n  score: 0,\n  decision: 'no_match',\n  reason: 'Failed to parse response'\n});\n\nconst runId = $('Prepare Prompt B Request').first().json.run_id;\nconst caseVacancyId = $('Prepare Prompt B Request').first().json.case_vacancy_id;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    score: parsed.score,\n    decision: parsed.decision,\n    reason: parsed.reason,\n    latency_ms: latencyMs,\n    raw_response: raw,\n    parsed: parsed\n  }\n}];"
      },
      "id": "fcad6a2b-dd66-4751-9fe9-f18f93b5957a",
      "name": "Parse Prompt B Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7712,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_results (\n    id,\n    run_id,\n    case_vacancy_id,\n    score,\n    decision,\n    latency_ms,\n    raw_response_json,\n    created_at\n)\nVALUES (\n    gen_random_uuid(),\n    '{{ $json.run_id }}',\n    '{{ $json.case_vacancy_id }}',\n    {{ $json.score }},\n    '{{ $json.decision }}',\n    {{ $json.latency_ms }},\n    '{{ JSON.stringify($json.parsed).replace(/'/g, \"''\") }}'::jsonb,\n    now()\n);",
        "options": {}
      },
      "id": "549e39c4-96cd-4738-94e0-83b6fbe038c3",
      "name": "PG: Save Prompt B Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7920,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to Split In Batches for next iteration\nreturn [{\n  json: {\n    continue: true\n  }\n}];"
      },
      "id": "358a46fd-e247-46ec-b10b-6bd27fbf7fde",
      "name": "Loop: Continue Prompt B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8112,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_runs\nSET\n    status = 'completed',\n    completed_at = now()\nWHERE run_type = 'B'\n  AND status = 'running'\n  AND experiment_id IN (\n    SELECT id FROM eval_prompt_experiments \n    WHERE experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  );",
        "options": {}
      },
      "id": "30f36793-1352-4b85-b8a8-8e41c5b55732",
      "name": "PG: Complete Prompt B Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6512,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH mae_a AS (\n    SELECT\n        AVG(ABS(r.score - cv.reference_score)) AS mae_a\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'A'\n),\nmae_b AS (\n    SELECT\n        AVG(ABS(r.score - cv.reference_score)) AS mae_b\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'B'\n),\nlatency_a AS (\n    SELECT\n        AVG(r.latency_ms) AS latency_a\n    FROM eval_prompt_results r\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'A'\n),\nlatency_b AS (\n    SELECT\n        AVG(r.latency_ms) AS latency_b\n    FROM eval_prompt_results r\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'B'\n),\naccuracy_a AS (\n    SELECT\n        COUNT(*) FILTER (WHERE r.decision = cv.reference_decision)::NUMERIC / COUNT(*) AS accuracy_a\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'A'\n),\naccuracy_b AS (\n    SELECT\n        COUNT(*) FILTER (WHERE r.decision = cv.reference_decision)::NUMERIC / COUNT(*) AS accuracy_b\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'B'\n)\nSELECT\n    mae_a.mae_a,\n    mae_b.mae_b,\n    (mae_a.mae_a - mae_b.mae_b) / NULLIF(mae_a.mae_a, 0) AS mae_improvement,\n    latency_a.latency_a,\n    latency_b.latency_b,\n    (latency_b.latency_b - latency_a.latency_a) / NULLIF(latency_a.latency_a, 0) AS latency_growth,\n    accuracy_a.accuracy_a,\n    accuracy_b.accuracy_b\nFROM mae_a, mae_b, latency_a, latency_b, accuracy_a, accuracy_b;",
        "options": {}
      },
      "id": "aee282e1-89a6-446d-9645-a32464af20a7",
      "name": "PG: Calculate Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6704,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const metrics = $json;\nconst config = $('Run Config').first().json;\nconst experimentData = $('PG: Check Experiment').first().json;\n\nconst maeImprovement = parseFloat(metrics.mae_improvement) || 0;\nconst latencyGrowth = parseFloat(metrics.latency_growth) || 0;\n\nconst maeThreshold = 0.20; // 20%\nconst latencyThreshold = 0.30; // 30%\n\nconst maePassed = maeImprovement >= maeThreshold;\nconst latencyPassed = latencyGrowth <= latencyThreshold;\n\nconst finalDecision = maePassed && latencyPassed ? 'ACCEPT PROMPT B' : 'REJECT PROMPT B';\n\nconst reason = [];\nif (!maePassed) {\n  reason.push(`MAE improvement ${maeImprovement.toFixed(2)} is below threshold ${maeThreshold}`);\n}\nif (!latencyPassed) {\n  reason.push(`Latency growth ${latencyGrowth.toFixed(2)} exceeds threshold ${latencyThreshold}`);\n}\n\nreturn [{\n  json: {\n    experiment_code: config.experiment_code,\n    dataset_code: config.dataset_code,\n    pair_count: config.expected_pairs,\n    models: {\n      judge: experimentData.model_judge,\n      prompt_a: experimentData.model_a,\n      prompt_b: experimentData.model_b\n    },\n    metrics: {\n      mae_a: parseFloat(metrics.mae_a).toFixed(4),\n      mae_b: parseFloat(metrics.mae_b).toFixed(4),\n      mae_improvement: maeImprovement.toFixed(4),\n      latency_a: parseFloat(metrics.latency_a).toFixed(2),\n      latency_b: parseFloat(metrics.latency_b).toFixed(2),\n      latency_growth: latencyGrowth.toFixed(4),\n      accuracy_a: parseFloat(metrics.accuracy_a).toFixed(4),\n      accuracy_b: parseFloat(metrics.accuracy_b).toFixed(4)\n    },\n    acceptance_criteria: {\n      mae_improvement_required: '>= 20%',\n      latency_growth_allowed: '<= 30%',\n      mae_passed: maePassed,\n      latency_passed: latencyPassed\n    },\n    final_decision: finalDecision,\n    reason: reason.length > 0 ? reason.join('; ') : 'All criteria met',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "51ec5cdf-4dd5-4b6a-967c-a2fb47de045b",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6912,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const report = $json;\n\nconst reportText = `\n# HRA Prompt Evaluation Report\n\n**Experiment Code:** ${report.experiment_code}\n**Dataset:** ${report.dataset_code}\n**Date:** ${report.timestamp}\n\n---\n\n## Models\n\n| Run | Model | Temperature |\n|-----|-------|-------------|\n| Judge | ${report.models.judge} | 0 |\n| Prompt A | ${report.models.prompt_a} | 0 |\n| Prompt B | ${report.models.prompt_b} | 0 |\n\n---\n\n## Dataset\n\n- **Total pairs:** ${report.pair_count}\n\n---\n\n## Results\n\n### Primary Metric: Mean Absolute Score Error\n\n| Metric | Prompt A | Prompt B |\n|--------|----------|----------|\n| **MAE** | ${report.metrics.mae_a} | ${report.metrics.mae_b} |\n| **Improvement** | - | ${report.metrics.mae_improvement} |\n\n### Guard Metric: Average Latency\n\n| Metric | Prompt A | Prompt B |\n|--------|----------|----------|\n| **Latency (ms)** | ${report.metrics.latency_a} | ${report.metrics.latency_b} |\n| **Growth** | - | ${report.metrics.latency_growth} |\n\n### Secondary Metric: Decision Accuracy\n\n| Metric | Prompt A | Prompt B |\n|--------|----------|----------|\n| **Accuracy** | ${report.metrics.accuracy_a} | ${report.metrics.accuracy_b} |\n\n---\n\n## Acceptance Criteria\n\n| Criterion | Threshold | Actual | Status |\n|-----------|-----------|--------|--------|\n| MAE improvement | >= 20% | ${report.metrics.mae_improvement} | ${report.acceptance_criteria.mae_passed ? '✅ PASS' : '❌ FAIL'} |\n| Latency growth | <= 30% | ${report.metrics.latency_growth} | ${report.acceptance_criteria.latency_passed ? '✅ PASS' : '❌ FAIL'} |\n\n---\n\n## Final Decision\n\n**${report.final_decision}**\n\n**Reason:** ${report.reason}\n\n---\n\nGenerated at: ${report.timestamp}\n`;\n\nreturn [{\n  json: {\n    report_text: reportText,\n    report_json: report\n  }\n}];"
      },
      "id": "ea0f397a-2637-4a07-854f-9314b7e56327",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7104,
        464
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Run Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Config": {
      "main": [
        [
          {
            "node": "PG: Check Experiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Check Experiment": {
      "main": [
        [
          {
            "node": "IF: Experiment Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Experiment Ready": {
      "main": [
        [
          {
            "node": "PG: Create Judge Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Experiment Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Create Judge Run": {
      "main": [
        [
          {
            "node": "PG: Get Pairs Without Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Pairs Without Reference": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "PG: Complete Judge Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Judge Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Judge Request": {
      "main": [
        [
          {
            "node": "HTTP: Call Judge Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Judge Model": {
      "main": [
        [
          {
            "node": "Parse Judge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Judge Response": {
      "main": [
        [
          {
            "node": "PG: Update Reference Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Update Reference Fields": {
      "main": [
        [
          {
            "node": "Loop: Continue Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Continue Judge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Complete Judge Run": {
      "main": [
        [
          {
            "node": "PG: Create Prompt A Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Create Prompt A Run": {
      "main": [
        [
          {
            "node": "PG: Get Pairs For Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Pairs For Prompt A": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches: Prompt A": {
      "main": [
        [
          {
            "node": "PG: Complete Prompt A Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Prompt A Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt A Request": {
      "main": [
        [
          {
            "node": "HTTP: Call Prompt A Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Prompt A Model": {
      "main": [
        [
          {
            "node": "Parse Prompt A Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompt A Response": {
      "main": [
        [
          {
            "node": "PG: Save Prompt A Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Save Prompt A Result": {
      "main": [
        [
          {
            "node": "Loop: Continue Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Continue Prompt A": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Complete Prompt A Run": {
      "main": [
        [
          {
            "node": "PG: Create Prompt B Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Create Prompt B Run": {
      "main": [
        [
          {
            "node": "PG: Get Pairs For Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Pairs For Prompt B": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches: Prompt B": {
      "main": [
        [
          {
            "node": "PG: Complete Prompt B Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Prompt B Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt B Request": {
      "main": [
        [
          {
            "node": "HTTP: Call Prompt B Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Prompt B Model": {
      "main": [
        [
          {
            "node": "Parse Prompt B Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompt B Response": {
      "main": [
        [
          {
            "node": "PG: Save Prompt B Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Save Prompt B Result": {
      "main": [
        [
          {
            "node": "Loop: Continue Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Continue Prompt B": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Complete Prompt B Run": {
      "main": [
        [
          {
            "node": "PG: Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Calculate Metrics": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "15af78d6-5b14-419b-a86c-a2088574c18f",
  "meta": {
    "instanceId": "459d700c4d3ea9df0b9dbe57d77ff97afbecd67db60fe901cb9d66accc63fb7f"
  },
  "id": "7SHOOX1dLr7AFag6",
  "tags": []
}