workflows/HRA Prompt Evaluation Experiment.json
{
  "name": "HRA Prompt Evaluation Experiment",
  "nodes": [
    {
      "parameters": {},
      "id": "1e4711cc-1726-4c48-8530-5f0fde744afe",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        10544,
        2432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Run Configuration\n// Change these values to run different experiments\nreturn [{\n  json: {\n    experiment_code: 'HRA-EXP-V2',\n    dataset_code: 'HRA-EVAL-V2',\n    expected_pairs: 90\n  }\n}];"
      },
      "id": "7ad1e582-2670-450d-8ee7-0b7c77f9f315",
      "name": "Run Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10704,
        2432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    e.id AS experiment_id,\n    e.experiment_code,\n    e.prompt_a_text,\n    e.prompt_b_text,\n    e.judge_prompt_text,\n    e.model_a,\n    e.model_b,\n    e.model_judge,\n    e.temperature_a,\n    e.temperature_b,\n    e.temperature_judge,\n    d.dataset_code,\n    COUNT(cv.id) AS total_pairs\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nLEFT JOIN eval_prompt_cases c ON c.dataset_id = d.id\nLEFT JOIN eval_prompt_case_vacancies cv ON cv.case_id = c.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nGROUP BY e.id, e.experiment_code, e.prompt_a_text, e.prompt_b_text, \n         e.judge_prompt_text, e.model_a, e.model_b, e.model_judge,\n         e.temperature_a, e.temperature_b, e.temperature_judge, d.dataset_code;",
        "options": {}
      },
      "id": "b732d217-61b5-4812-b118-e0abd5f6dbfb",
      "name": "PG: Check Experiment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10848,
        2432
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "experiment-exists",
              "leftValue": "={{ $json.experiment_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "pairs-count",
              "leftValue": "={{ Number($json.total_pairs) }}",
              "rightValue": "={{ Number($('Run Config').first().json.expected_pairs) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57a2f33c-ef3c-4fab-a1ce-1bffd7dcb683",
      "name": "IF: Experiment Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11040,
        2432
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Run Config').first().json;\nreturn [{\n  json: {\n    error: 'Experiment validation failed',\n    message: `Experiment ${config.experiment_code} not found or dataset ${config.dataset_code} has incorrect number of pairs`,\n    expected_pairs: config.expected_pairs,\n    actual_pairs: $('PG: Check Experiment').first()?.json?.total_pairs || 0\n  }\n}];"
      },
      "id": "21a3ba61-ab70-40ff-b312-956c0151c7c6",
      "name": "Error: Experiment Not Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11248,
        2256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_runs (\n    id,\n    experiment_id,\n    run_type,\n    status,\n    started_at,\n    created_at\n)\nSELECT\n    gen_random_uuid(),\n    e.id,\n    'judge',\n    'running',\n    now(),\n    now()\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nRETURNING id AS run_id, experiment_id;",
        "options": {}
      },
      "id": "70e7d3b8-6f3d-4f62-b199-4350fedede99",
      "name": "PG: Create Judge Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11248,
        2432
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    cv.id AS case_vacancy_id,\n    cv.vacancy_json,\n    c.candidate_json,\n    cv.reference_score,\n    cv.reference_decision\nFROM eval_prompt_case_vacancies cv\nJOIN eval_prompt_cases c ON cv.case_id = c.id\nJOIN eval_prompt_datasets d ON c.dataset_id = d.id\nWHERE d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\n  AND cv.reference_score IS NULL\nORDER BY c.case_code, cv.id;",
        "options": {}
      },
      "id": "c0ce9388-73c0-4736-82e4-8b4a9dd353db",
      "name": "PG: Get Pairs Without Reference",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11440,
        2432
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eb0eeee0-69fe-421a-850c-65828bffa07f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11648,
        2432
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidate_json;\nconst vacancy = $json.vacancy_json;\nconst caseVacancyId = $json.case_vacancy_id;\n\nconst experimentData = $('PG: Check Experiment').first().json;\nconst judgePrompt = experimentData.judge_prompt_text;\n\nreturn [{\n  json: {\n    case_vacancy_id: caseVacancyId,\n    request_started_at: Date.now(),\n    candidate: candidate,\n    vacancy: vacancy,\n    openai_body: {\n      model: experimentData.model_judge || 'gpt-4.1-2025-04-14',\n      temperature: Number(experimentData.temperature_judge ?? 0),\n      messages: [\n        {\n          role: 'system',\n          content: judgePrompt\n        },\n        {\n          role: 'user',\n          content: 'Кандидат:\\n' + JSON.stringify(candidate, null, 2) + '\\n\\nВакансия:\\n' + JSON.stringify(vacancy, null, 2) + '\\n\\nПроведи детальную оценку соответствия кандидата вакансии по критериям:\\n1. Должность / роль (0-30 баллов)\\n2. Навыки (0-35 баллов)\\n3. Опыт (0-20 баллов)\\n4. Город / формат / зарплата (0-15 баллов)\\n\\nВерни JSON с оценками и обоснованием.'\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'judge_evaluation_result',\n          strict: true,\n          schema: {\n            type: 'object',\n            additionalProperties: false,\n            properties: {\n              vacancy_id: { type: ['string', 'null'] },\n              title: { type: ['string', 'null'] },\n              role_score: { type: 'number' },\n              skills_score: { type: 'number' },\n              experience_score: { type: 'number' },\n              conditions_score: { type: 'number' },\n              score: { type: 'number' },\n              decision: {\n                type: 'string',\n                enum: ['match', 'no_match']\n              },\n              reason: { type: 'string' }\n            },\n            required: ['vacancy_id', 'title', 'role_score', 'skills_score', \n                       'experience_score', 'conditions_score', 'score', \n                       'decision', 'reason']\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "dc3c73e6-45c5-4d25-a484-b41e75018d02",
      "name": "Prepare Judge Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11840,
        2432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {}
          }
        }
      },
      "id": "08ba0012-1556-49b2-b2b9-52f72bc3399c",
      "name": "HTTP: Call Judge Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12048,
        2432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\n// Get latency from explicit timestamp\nconst requestStartedAt = Number($('Prepare Judge Request').first().json.request_started_at);\nconst latencyMs = Number.isFinite(requestStartedAt) && requestStartedAt > 0\n  ? Date.now() - requestStartedAt\n  : 0;\n\nconst raw = extractRaw($json);\nconst parsed = parseJson(raw, {\n  vacancy_id: null,\n  title: '',\n  role_score: 0,\n  skills_score: 0,\n  experience_score: 0,\n  conditions_score: 0,\n  score: 0,\n  decision: 'no_match',\n  reason: 'Failed to parse response'\n});\n\nconst caseVacancyId = $('Prepare Judge Request').first().json.case_vacancy_id;\n\nreturn [{\n  json: {\n    case_vacancy_id: caseVacancyId,\n    reference_score: parsed.score,\n    reference_decision: parsed.decision,\n    reference_reason: parsed.reason,\n    raw_response: raw,\n    latency_ms: latencyMs,\n    parsed: parsed\n  }\n}];"
      },
      "id": "6fe89ab7-c629-4809-8d00-169e3a74a4a0",
      "name": "Parse Judge Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12240,
        2432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_case_vacancies\nSET\n    reference_score = {{ $json.reference_score }},\n    reference_decision = '{{ $json.reference_decision }}',\n    reference_reason = '{{ ($json.reference_reason || \"\").replace(/'/g, \"''\") }}',\n    reference_role_score = {{ $json.parsed.role_score }},\n    reference_skills_score = {{ $json.parsed.skills_score }},\n    reference_experience_score = {{ $json.parsed.experience_score }},\n    reference_conditions_score = {{ $json.parsed.conditions_score }},\n    reference_raw_response_json = '{{ JSON.stringify($json.parsed).replace(/'/g, \"''\") }}'::jsonb,\n    reference_model = '{{ $json.model || \"gpt-4.1-2025-04-14\" }}',\n    reference_latency_ms = {{ $json.latency_ms || \"NULL\" }},\n    reference_generated_at = NOW()\nWHERE id = '{{ $json.case_vacancy_id }}';",
        "options": {}
      },
      "id": "c9f98fcd-7329-4f53-a0e4-1fd79f97b651",
      "name": "PG: Update Reference Fields",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        12448,
        2432
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to Split In Batches for next iteration\nreturn [{\n  json: {\n    continue: true\n  }\n}];"
      },
      "id": "482ba51e-632d-4cf2-8290-6d862fcd0456",
      "name": "Loop: Continue Judge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12640,
        2432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_runs\nSET\n    status = 'completed',\n    completed_at = now()\nWHERE run_type = 'judge'\n  AND status = 'running'\n  AND experiment_id IN (\n    SELECT id FROM eval_prompt_experiments \n    WHERE experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  );",
        "options": {}
      },
      "id": "8e65c01d-0887-4f32-b1f5-c35ebbc1efed",
      "name": "PG: Complete Judge Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11056,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_runs (\n    id,\n    experiment_id,\n    run_type,\n    status,\n    started_at,\n    created_at\n)\nSELECT\n    gen_random_uuid(),\n    e.id,\n    'A',\n    'running',\n    now(),\n    now()\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nRETURNING id AS run_id, experiment_id;",
        "options": {}
      },
      "id": "c20fb685-67ef-4b24-854d-57c53d23667e",
      "name": "PG: Create Prompt A Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11248,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    r.id AS run_id,\n    cv.id AS case_vacancy_id,\n    cv.vacancy_json,\n    c.candidate_json,\n    cv.reference_score,\n    cv.reference_decision\nFROM eval_prompt_runs r\nJOIN eval_prompt_experiments e ON r.experiment_id = e.id\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nJOIN eval_prompt_cases c ON c.dataset_id = d.id\nJOIN eval_prompt_case_vacancies cv ON cv.case_id = c.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND r.run_type = 'A'\n  AND r.status = 'running'\nORDER BY c.case_code, cv.id;",
        "options": {}
      },
      "id": "c090a020-a551-47b9-8b87-099dfdbb316c",
      "name": "PG: Get Pairs For Prompt A",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11456,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "70562f48-8716-4e43-990f-5c1a4e1603b9",
      "name": "Split In Batches: Prompt A",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11648,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidate_json;\nconst vacancy = $json.vacancy_json;\nconst caseVacancyId = $json.case_vacancy_id;\nconst runId = $json.run_id;\n\nconst experimentData = $('PG: Check Experiment').first().json;\nconst promptAText = experimentData.prompt_a_text;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    request_started_at: Date.now(),\n    candidate: candidate,\n    vacancy: vacancy,\n    openai_body: {\n      model: experimentData.model_a || 'gpt-4o-mini',\n      temperature: Number(experimentData.temperature_a ?? 0),\n      messages: [\n        {\n          role: 'system',\n          content: promptAText\n        },\n        {\n          role: 'user',\n          content: 'Кандидат:\\n' + JSON.stringify(candidate, null, 2) + '\\n\\nВакансия:\\n' + JSON.stringify(vacancy, null, 2)\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'vacancy_match_result',\n          strict: true,\n          schema: {\n            type: 'object',\n            additionalProperties: false,\n            properties: {\n              vacancy_id: { type: ['string', 'null'] },\n              title: { type: ['string', 'null'] },\n              role_score: { type: 'number' },\n              skills_score: { type: 'number' },\n              experience_score: { type: 'number' },\n              conditions_score: { type: 'number' },\n              score: { type: 'number' },\n              decision: {\n                type: 'string',\n                enum: ['match', 'no_match']\n              },\n              reason: { type: 'string' }\n            },\n            required: ['vacancy_id', 'title', 'role_score', 'skills_score', \n                       'experience_score', 'conditions_score', 'score', \n                       'decision', 'reason']\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "2ddc73ab-6b54-46d2-bedb-b5c0a876f383",
      "name": "Prepare Prompt A Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11856,
        2672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {}
          }
        }
      },
      "id": "e2c56271-7ce9-4641-ae81-54ea4d4a76ac",
      "name": "HTTP: Call Prompt A Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12048,
        2672
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\n// Get latency from explicit timestamp\nconst requestStartedAt = Number($('Prepare Prompt A Request').first().json.request_started_at);\nconst latencyMs = Number.isFinite(requestStartedAt) && requestStartedAt > 0\n  ? Date.now() - requestStartedAt\n  : 0;\n\nconst raw = extractRaw($json);\nconst parsed = parseJson(raw, {\n  vacancy_id: null,\n  title: '',\n  role_score: 0,\n  skills_score: 0,\n  experience_score: 0,\n  conditions_score: 0,\n  score: 0,\n  decision: 'no_match',\n  reason: 'Failed to parse response'\n});\n\nconst runId = $('Prepare Prompt A Request').first().json.run_id;\nconst caseVacancyId = $('Prepare Prompt A Request').first().json.case_vacancy_id;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    score: parsed.score,\n    decision: parsed.decision,\n    reason: parsed.reason,\n    latency_ms: latencyMs,\n    raw_response: raw,\n    parsed: parsed\n  }\n}];"
      },
      "id": "540b3ebd-0ddf-4c06-87b1-a44bdb9a9831",
      "name": "Parse Prompt A Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12256,
        2672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_results (\n    id,\n    run_id,\n    case_vacancy_id,\n    score,\n    decision,\n    latency_ms,\n    raw_response_json,\n    created_at\n)\nVALUES (\n    gen_random_uuid(),\n    '{{ $json.run_id }}',\n    '{{ $json.case_vacancy_id }}',\n    {{ $json.score }},\n    '{{ $json.decision }}',\n    {{ $json.latency_ms }},\n    '{{ JSON.stringify($json.parsed).replace(/'/g, \"''\") }}'::jsonb,\n    now()\n);",
        "options": {}
      },
      "id": "ea0ebbfa-3be4-43c1-bcec-3509ee352612",
      "name": "PG: Save Prompt A Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        12448,
        2672
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to Split In Batches for next iteration\nreturn [{\n  json: {\n    continue: true\n  }\n}];"
      },
      "id": "6a8cc450-48cb-462c-b286-6dff8f3f6a4c",
      "name": "Loop: Continue Prompt A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12656,
        2672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_runs\nSET\n    status = 'completed',\n    completed_at = now()\nWHERE run_type = 'A'\n  AND status = 'running'\n  AND experiment_id IN (\n    SELECT id FROM eval_prompt_experiments \n    WHERE experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  );",
        "options": {}
      },
      "id": "24b9bb23-1c2c-4fc2-b6b0-0b79e65554bb",
      "name": "PG: Complete Prompt A Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11056,
        2912
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_runs (\n    id,\n    experiment_id,\n    run_type,\n    status,\n    started_at,\n    created_at\n)\nSELECT\n    gen_random_uuid(),\n    e.id,\n    'B',\n    'running',\n    now(),\n    now()\nFROM eval_prompt_experiments e\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND d.dataset_code = '{{ $('Run Config').first().json.dataset_code }}'\nRETURNING id AS run_id, experiment_id;",
        "options": {}
      },
      "id": "c434a2c9-b26e-47ff-b1a7-26f22e434d46",
      "name": "PG: Create Prompt B Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11264,
        2912
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    r.id AS run_id,\n    cv.id AS case_vacancy_id,\n    cv.vacancy_json,\n    c.candidate_json,\n    cv.reference_score,\n    cv.reference_decision\nFROM eval_prompt_runs r\nJOIN eval_prompt_experiments e ON r.experiment_id = e.id\nJOIN eval_prompt_datasets d ON e.dataset_id = d.id\nJOIN eval_prompt_cases c ON c.dataset_id = d.id\nJOIN eval_prompt_case_vacancies cv ON cv.case_id = c.id\nWHERE e.experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  AND r.run_type = 'B'\n  AND r.status = 'running'\nORDER BY c.case_code, cv.id;",
        "options": {}
      },
      "id": "a4f30df7-c36b-4374-8447-f8c239cc213e",
      "name": "PG: Get Pairs For Prompt B",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11456,
        2912
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e7784e0a-38d4-4866-8d9a-9cbc361598d0",
      "name": "Split In Batches: Prompt B",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11648,
        2912
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidate_json;\nconst vacancy = $json.vacancy_json;\nconst caseVacancyId = $json.case_vacancy_id;\nconst runId = $json.run_id;\n\nconst experimentData = $('PG: Check Experiment').first().json;\nconst promptBText = experimentData.prompt_b_text;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    request_started_at: Date.now(),\n    candidate: candidate,\n    vacancy: vacancy,\n    openai_body: {\n      model: experimentData.model_b || 'gpt-4o-mini',\n      temperature: Number(experimentData.temperature_b ?? 0),\n      messages: [\n        {\n          role: 'system',\n          content: promptBText\n        },\n        {\n          role: 'user',\n          content: 'Кандидат:\\n' + JSON.stringify(candidate, null, 2) + '\\n\\nВакансия:\\n' + JSON.stringify(vacancy, null, 2)\n        }\n      ],\n      response_format: {\n        type: 'json_schema',\n        json_schema: {\n          name: 'vacancy_match_result',\n          strict: true,\n          schema: {\n            type: 'object',\n            additionalProperties: false,\n            properties: {\n              vacancy_id: { type: ['string', 'null'] },\n              title: { type: ['string', 'null'] },\n              role_score: { type: 'number' },\n              skills_score: { type: 'number' },\n              experience_score: { type: 'number' },\n              conditions_score: { type: 'number' },\n              score: { type: 'number' },\n              decision: {\n                type: 'string',\n                enum: ['match', 'no_match']\n              },\n              reason: { type: 'string' }\n            },\n            required: ['vacancy_id', 'title', 'role_score', 'skills_score', \n                       'experience_score', 'conditions_score', 'score', \n                       'decision', 'reason']\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "473c4f3d-61f3-49b7-8699-50bac333f543",
      "name": "Prepare Prompt B Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11856,
        2912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {}
          }
        }
      },
      "id": "e219ae5d-84e5-41b5-8a28-0caf82499fc6",
      "name": "HTTP: Call Prompt B Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        12048,
        2912
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pANFrhR1xZgvvzrJ",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractRaw(itemJson) {\n  return itemJson.choices?.[0]?.message?.content || '';\n}\n\nfunction parseJson(raw, fallback) {\n  if (!raw || typeof raw !== 'string') {\n    return fallback;\n  }\n\n  let cleaned = raw.trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch (e) {\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return fallback;\n\n    try {\n      return JSON.parse(match[0]);\n    } catch (e2) {\n      return fallback;\n    }\n  }\n}\n\n// Get latency from explicit timestamp\nconst requestStartedAt = Number($('Prepare Prompt B Request').first().json.request_started_at);\nconst latencyMs = Number.isFinite(requestStartedAt) && requestStartedAt > 0\n  ? Date.now() - requestStartedAt\n  : 0;\n\nconst raw = extractRaw($json);\nconst parsed = parseJson(raw, {\n  vacancy_id: null,\n  title: '',\n  role_score: 0,\n  skills_score: 0,\n  experience_score: 0,\n  conditions_score: 0,\n  score: 0,\n  decision: 'no_match',\n  reason: 'Failed to parse response'\n});\n\nconst runId = $('Prepare Prompt B Request').first().json.run_id;\nconst caseVacancyId = $('Prepare Prompt B Request').first().json.case_vacancy_id;\n\nreturn [{\n  json: {\n    run_id: runId,\n    case_vacancy_id: caseVacancyId,\n    score: parsed.score,\n    decision: parsed.decision,\n    reason: parsed.reason,\n    latency_ms: latencyMs,\n    raw_response: raw,\n    parsed: parsed\n  }\n}];"
      },
      "id": "13a0c2c1-c2af-47c5-ad61-48ab0932ca7f",
      "name": "Parse Prompt B Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12256,
        2912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO eval_prompt_results (\n    id,\n    run_id,\n    case_vacancy_id,\n    score,\n    decision,\n    latency_ms,\n    raw_response_json,\n    created_at\n)\nVALUES (\n    gen_random_uuid(),\n    '{{ $json.run_id }}',\n    '{{ $json.case_vacancy_id }}',\n    {{ $json.score }},\n    '{{ $json.decision }}',\n    {{ $json.latency_ms }},\n    '{{ JSON.stringify($json.parsed).replace(/'/g, \"''\") }}'::jsonb,\n    now()\n);",
        "options": {}
      },
      "id": "73db50b9-1ce3-426b-8b4f-c7df8e2b9ef6",
      "name": "PG: Save Prompt B Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        12464,
        2912
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to Split In Batches for next iteration\nreturn [{\n  json: {\n    continue: true\n  }\n}];"
      },
      "id": "04ee8267-4fc0-4ff4-9798-800472718f08",
      "name": "Loop: Continue Prompt B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12656,
        2912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE eval_prompt_runs\nSET\n    status = 'completed',\n    completed_at = now()\nWHERE run_type = 'B'\n  AND status = 'running'\n  AND experiment_id IN (\n    SELECT id FROM eval_prompt_experiments \n    WHERE experiment_code = '{{ $('Run Config').first().json.experiment_code }}'\n  );",
        "options": {}
      },
      "id": "97cb6b11-d94b-4e45-8817-4192640c8204",
      "name": "PG: Complete Prompt B Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11056,
        3152
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH mae_a AS (\n    SELECT\n        AVG(ABS(r.score - cv.reference_score)) AS mae_a\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'A'\n),\nmae_b AS (\n    SELECT\n        AVG(ABS(r.score - cv.reference_score)) AS mae_b\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'B'\n),\nlatency_a AS (\n    SELECT\n        AVG(r.latency_ms) AS latency_a\n    FROM eval_prompt_results r\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'A'\n),\nlatency_b AS (\n    SELECT\n        AVG(r.latency_ms) AS latency_b\n    FROM eval_prompt_results r\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'B'\n),\naccuracy_a AS (\n    SELECT\n        COUNT(*) FILTER (WHERE r.decision = cv.reference_decision)::NUMERIC / COUNT(*) AS accuracy_a\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'A'\n),\naccuracy_b AS (\n    SELECT\n        COUNT(*) FILTER (WHERE r.decision = cv.reference_decision)::NUMERIC / COUNT(*) AS accuracy_b\n    FROM eval_prompt_results r\n    JOIN eval_prompt_case_vacancies cv ON r.case_vacancy_id = cv.id\n    JOIN eval_prompt_runs run ON r.run_id = run.id\n    WHERE run.run_type = 'B'\n)\nSELECT\n    mae_a.mae_a,\n    mae_b.mae_b,\n    (mae_a.mae_a - mae_b.mae_b) / NULLIF(mae_a.mae_a, 0) AS mae_improvement,\n    latency_a.latency_a,\n    latency_b.latency_b,\n    (latency_b.latency_b - latency_a.latency_a) / NULLIF(latency_a.latency_a, 0) AS latency_growth,\n    accuracy_a.accuracy_a,\n    accuracy_b.accuracy_b\nFROM mae_a, mae_b, latency_a, latency_b, accuracy_a, accuracy_b;",
        "options": {}
      },
      "id": "5255683d-c46e-42eb-8421-407f8c8e6004",
      "name": "PG: Calculate Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11248,
        3152
      ],
      "credentials": {
        "postgres": {
          "id": "PPycmQuJ6vutwkt7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const metrics = $json;\nconst config = $('Run Config').first().json;\nconst experimentData = $('PG: Check Experiment').first().json;\n\nconst maeImprovement = parseFloat(metrics.mae_improvement) || 0;\nconst latencyGrowth = parseFloat(metrics.latency_growth) || 0;\n\nconst maeThreshold = 0.20; // 20%\nconst latencyThreshold = 0.30; // 30%\n\nconst maePassed = maeImprovement >= maeThreshold;\nconst latencyPassed = latencyGrowth <= latencyThreshold;\n\nconst finalDecision = maePassed && latencyPassed ? 'ACCEPT PROMPT B' : 'REJECT PROMPT B';\n\nconst reason = [];\nif (!maePassed) {\n  reason.push(`MAE improvement ${maeImprovement.toFixed(2)} is below threshold ${maeThreshold}`);\n}\nif (!latencyPassed) {\n  reason.push(`Latency growth ${latencyGrowth.toFixed(2)} exceeds threshold ${latencyThreshold}`);\n}\n\nreturn [{\n  json: {\n    experiment_code: config.experiment_code,\n    dataset_code: config.dataset_code,\n    pair_count: config.expected_pairs,\n    models: {\n      judge: experimentData.model_judge,\n      prompt_a: experimentData.model_a,\n      prompt_b: experimentData.model_b\n    },\n    metrics: {\n      mae_a: parseFloat(metrics.mae_a).toFixed(4),\n      mae_b: parseFloat(metrics.mae_b).toFixed(4),\n      mae_improvement: maeImprovement.toFixed(4),\n      latency_a: parseFloat(metrics.latency_a).toFixed(2),\n      latency_b: parseFloat(metrics.latency_b).toFixed(2),\n      latency_growth: latencyGrowth.toFixed(4),\n      accuracy_a: parseFloat(metrics.accuracy_a).toFixed(4),\n      accuracy_b: parseFloat(metrics.accuracy_b).toFixed(4)\n    },\n    acceptance_criteria: {\n      mae_improvement_required: '>= 20%',\n      latency_growth_allowed: '<= 30%',\n      mae_passed: maePassed,\n      latency_passed: latencyPassed\n    },\n    final_decision: finalDecision,\n    reason: reason.length > 0 ? reason.join('; ') : 'All criteria met',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "62808f82-2cfd-4651-a1a8-552a93d711d4",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11456,
        3152
      ]
    },
    {
      "parameters": {
        "jsCode": "const report = $json;\n\nconst reportText = `\n# HRA Prompt Evaluation Report\n\n**Experiment Code:** ${report.experiment_code}\n**Dataset:** ${report.dataset_code}\n**Date:** ${report.timestamp}\n\n---\n\n## Models\n\n| Run | Model | Temperature |\n|-----|-------|-------------|\n| Judge | ${report.models.judge} | 0 |\n| Prompt A | ${report.models.prompt_a} | 0 |\n| Prompt B | ${report.models.prompt_b} | 0 |\n\n---\n\n## Dataset\n\n- **Total pairs:** ${report.pair_count}\n\n---\n\n## Results\n\n### Primary Metric: Mean Absolute Score Error\n\n| Metric | Prompt A | Prompt B |\n|--------|----------|----------|\n| **MAE** | ${report.metrics.mae_a} | ${report.metrics.mae_b} |\n| **Improvement** | - | ${report.metrics.mae_improvement} |\n\n### Guard Metric: Average Latency\n\n| Metric | Prompt A | Prompt B |\n|--------|----------|----------|\n| **Latency (ms)** | ${report.metrics.latency_a} | ${report.metrics.latency_b} |\n| **Growth** | - | ${report.metrics.latency_growth} |\n\n### Secondary Metric: Decision Accuracy\n\n| Metric | Prompt A | Prompt B |\n|--------|----------|----------|\n| **Accuracy** | ${report.metrics.accuracy_a} | ${report.metrics.accuracy_b} |\n\n---\n\n## Acceptance Criteria\n\n| Criterion | Threshold | Actual | Status |\n|-----------|-----------|--------|--------|\n| MAE improvement | >= 20% | ${report.metrics.mae_improvement} | ${report.acceptance_criteria.mae_passed ? '✅ PASS' : '❌ FAIL'} |\n| Latency growth | <= 30% | ${report.metrics.latency_growth} | ${report.acceptance_criteria.latency_passed ? '✅ PASS' : '❌ FAIL'} |\n\n---\n\n## Final Decision\n\n**${report.final_decision}**\n\n**Reason:** ${report.reason}\n\n---\n\nGenerated at: ${report.timestamp}\n`;\n\nreturn [{\n  json: {\n    report_text: reportText,\n    report_json: report\n  }\n}];"
      },
      "id": "75d518d2-3469-47e2-b2a1-36451114ba71",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11648,
        3152
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Run Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Config": {
      "main": [
        [
          {
            "node": "PG: Check Experiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Check Experiment": {
      "main": [
        [
          {
            "node": "IF: Experiment Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Experiment Ready": {
      "main": [
        [
          {
            "node": "PG: Create Judge Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Experiment Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Create Judge Run": {
      "main": [
        [
          {
            "node": "PG: Get Pairs Without Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Pairs Without Reference": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "PG: Complete Judge Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Judge Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Judge Request": {
      "main": [
        [
          {
            "node": "HTTP: Call Judge Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Judge Model": {
      "main": [
        [
          {
            "node": "Parse Judge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Judge Response": {
      "main": [
        [
          {
            "node": "PG: Update Reference Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Update Reference Fields": {
      "main": [
        [
          {
            "node": "Loop: Continue Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Continue Judge": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Complete Judge Run": {
      "main": [
        [
          {
            "node": "PG: Create Prompt A Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Create Prompt A Run": {
      "main": [
        [
          {
            "node": "PG: Get Pairs For Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Pairs For Prompt A": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches: Prompt A": {
      "main": [
        [
          {
            "node": "PG: Complete Prompt A Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Prompt A Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt A Request": {
      "main": [
        [
          {
            "node": "HTTP: Call Prompt A Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Prompt A Model": {
      "main": [
        [
          {
            "node": "Parse Prompt A Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompt A Response": {
      "main": [
        [
          {
            "node": "PG: Save Prompt A Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Save Prompt A Result": {
      "main": [
        [
          {
            "node": "Loop: Continue Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Continue Prompt A": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Complete Prompt A Run": {
      "main": [
        [
          {
            "node": "PG: Create Prompt B Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Create Prompt B Run": {
      "main": [
        [
          {
            "node": "PG: Get Pairs For Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Get Pairs For Prompt B": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches: Prompt B": {
      "main": [
        [
          {
            "node": "PG: Complete Prompt B Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Prompt B Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt B Request": {
      "main": [
        [
          {
            "node": "HTTP: Call Prompt B Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Prompt B Model": {
      "main": [
        [
          {
            "node": "Parse Prompt B Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prompt B Response": {
      "main": [
        [
          {
            "node": "PG: Save Prompt B Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Save Prompt B Result": {
      "main": [
        [
          {
            "node": "Loop: Continue Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Continue Prompt B": {
      "main": [
        [
          {
            "node": "Split In Batches: Prompt B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Complete Prompt B Run": {
      "main": [
        [
          {
            "node": "PG: Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Calculate Metrics": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b3f9fe2b-3965-4f84-aee1-0b48417d1fce",
  "meta": {
    "instanceId": "459d700c4d3ea9df0b9dbe57d77ff97afbecd67db60fe901cb9d66accc63fb7f"
  },
  "id": "7SHOOX1dLr7AFag6",
  "tags": []
}